In [1]:
import pandas as pd

# import all data 
# boston
# boston2016 = pd.read_csv('data/boston2016.csv') # can't read file 
# boston2015 = pd.ExcelFile('data/boston2015.xlsx')
# boston2015 = boston2015.parse('EnergyandWaterMetrics_Sept_2016')
# boston2014 = pd.ExcelFile('data/boston2014.xlsx')
# boston2014 = boston2014.parse('EnergyandWaterMetrics_Mar3_2016')

# chicago 
chicago2016 = pd.read_csv('data/chicago2016.csv')
chicago2015 = pd.read_csv('data/chicago2015.csv')
chicago2014 = pd.read_csv('data/chicago2014.csv')


# minneapolis
minneapolis2016_public = pd.ExcelFile('data/minneapolis2016_public.xlsx')
minneapolis2016_public = minneapolis2016_public.parse('Public')
minneapolis2016_private = pd.ExcelFile('data/minneapolis2016_private.xlsx')
minneapolis2016_private = minneapolis2016_private.parse('Private Buildings > 50,000sqft')

minneapolis2015_public = pd.ExcelFile('data/minneapolis2015_public.xlsx')
minneapolis2015_public = minneapolis2015_public.parse('Public Buildings > 25,000 sqft')
minneapolis2015_private = pd.ExcelFile('data/minneapolis2015_private.xlsx')
minneapolis2015_private = minneapolis2015_private.parse('Private Buildings > 100,000sqft')

minneapolis2014_public = pd.ExcelFile('data/minneapolis2014_public.xlsx')
minneapolis2014_public = minneapolis2014_public.parse('Public Buildings > 25,000sqft')
minneapolis2014_private = pd.ExcelFile('data/minneapolis2014_private.xlsx')
minneapolis2014_private = minneapolis2014_private.parse('Private Buildings > 100,000sqft')


# nyc
# nyc2015 = pd.ExcelFile('data/nyc2015.xlsx')
# nyc2015 = nyc2015.parse('2015 Data Reported in 2016')
# nyc2014 = pd.ExcelFile('data/nyc2014.xlsx')
# nyc2014 = nyc2014.parse('WORKING FILE')
# nyc2013 = pd.ExcelFile('data/nyc2013.xlsx')
# nyc2013 = nyc2013.parse('2013 NYC Benchmark Data')


#philadelphia 
philly2016 = pd.read_csv('data/philly2016.csv')
philly2015 = pd.read_csv('data/philly2015.csv')
philly2014 = pd.read_csv('data/philly2014.csv')
philly2013 = pd.read_csv('data/philly2013.csv')

In [2]:
# clean up data 
chi_delete = ['Data Year', 'Address', 'Property Name', 'Community Area', 'Source EUI (kBtu/sq ft)',
              '# of Buildings', 
              'Weather Normalized Source EUI (kBtu/sq ft)','District Steam Use (kBtu)', 
              'District Chilled Water Use (kBtu)', 'All Other Fuel Use (kBtu)',
            'Total GHG Emissions (Metric Tons CO2e)','GHG Intensity (kg CO2e/sq ft)', 
              'Latitude', 'Longitude', 'Location']

for col_name in chi_delete:
    del chicago2016[col_name]
    del chicago2015[col_name]
    del chicago2014[col_name]

In [3]:
chicago2014
chicago2016.loc[chicago2016['ID'] == 250052]

,ID,ZIP Code,Primary Property Type,Gross Floor Area - Buildings (sq ft),Year Built,ENERGY STAR Score,Electricity Use (kBtu),Natural Gas Use (kBtu),Site EUI (kBtu/sq ft),Weather Normalized Site EUI (kBtu/sq ft)
833,250052,60634,K-12 School,398320.0,1934.0,92.0,7408468.8,16239181.9,59.4,63.6

In [4]:
# merge data frames 
chicago = pd.merge(chicago2016, chicago2015, how = 'outer', suffixes = ['_2016', '_2015'], 
                on = 'ID')


chicago = pd.merge(chicago, chicago2014, how='outer', on = 'ID')


chicago.columns

Index(['ID', 'ZIP Code_2016', 'Primary Property Type_2016',
       'Gross Floor Area - Buildings (sq ft)_2016', 'Year Built_2016',
       'ENERGY STAR Score_2016', 'Electricity Use (kBtu)_2016',
       'Natural Gas Use (kBtu)_2016', 'Site EUI (kBtu/sq ft)_2016',
       'Weather Normalized Site EUI (kBtu/sq ft)_2016', 'ZIP Code_2015',
       'Primary Property Type_2015',
       'Gross Floor Area - Buildings (sq ft)_2015', 'Year Built_2015',
       'ENERGY STAR Score_2015', 'Electricity Use (kBtu)_2015',
       'Natural Gas Use (kBtu)_2015', 'Site EUI (kBtu/sq ft)_2015',
       'Weather Normalized Site EUI (kBtu/sq ft)_2015', 'ZIP Code',
       'Primary Property Type', 'Gross Floor Area - Buildings (sq ft)',
       'Year Built', 'ENERGY STAR Score', 'Electricity Use (kBtu)',
       'Natural Gas Use (kBtu)', 'Site EUI (kBtu/sq ft)',
       'Weather Normalized Site EUI (kBtu/sq ft)'],
      dtype='object')

In [5]:
chicago = chicago.drop(['Electricity Use (kBtu)_2016','Natural Gas Use (kBtu)_2016', 'Site EUI (kBtu/sq ft)_2016',
                       'Electricity Use (kBtu)_2015', 'Natural Gas Use (kBtu)_2015', 'Site EUI (kBtu/sq ft)_2015', 
                        'ZIP Code_2015', 'Primary Property Type_2015','Gross Floor Area - Buildings (sq ft)_2015', 
                        'Year Built_2015', 'ZIP Code', 'Primary Property Type', 'Gross Floor Area - Buildings (sq ft)',
                        'Year Built', 'Electricity Use (kBtu)', 'Natural Gas Use (kBtu)', 'Site EUI (kBtu/sq ft)'],
                       axis=1)

In [6]:
chicago.columns
chicago.columns = ['id', 'zip', 'prop_type', 'gba', 'year_built', 'energy_star_score_2016', 'eui_2016', 
                   'energy_star_score_2015', 'eui_2015', 'energy_star_score_2014', 'eui_2014']


chicago_3 = chicago.loc[(chicago['eui_2016'].isnull() == False) & (chicago['eui_2015'].isnull() == False)& (chicago['eui_2014'].isnull() == False)]

In [8]:
# clean up philly data
philly2016_del = ['natural_gas_use_kbtu', 'objectid', 'address', 'property_name', 'electricity_use_kbtu', 'opa_number', 
                    'steam_use_kbtu', 'fuel_oil_02_use_kbtu', 'source_eui_kbtuft2', 'water_use_all_kgal',
                  'total_ghg_emissions_mtco2e', 'notes', 'x_coord', 'y_coord']
for col_name in philly2016_del:
    del philly2016[col_name]
    
    
    
philly2015_del = ['natural_gas_use_kbtu', 'objectid', 'property_name', 'address', 'opa_number', 
       'electricity_use_kbtu','fuel_oil_02_use_kbtu', 'steam_use_kbtu', 'source_eui_kbtuft2', 
        'water_use_all_kgal', 'total_ghg_emissions_mtco2e', 'notes', 'x_coord', 'y_coord']
for col_name in philly2015_del:
    del philly2015[col_name]
    
    
philly2014_del = ['natural_gas_use_kbtu', 
       'property_name', 'source_eui_kbtu_ft', 'total_ghg_emissions_mtco2e',
       'district_steam_use_kbtu',  
        'location_1_address', 
       'fuel_oil_2_use_kbtu',
       'water_use_all_water_sources_kgal', 'electricity_use_kbtu', 'notes',
       'philadelphia_building_id']

for col_name in philly2014_del:
    del philly2014[col_name]

In [12]:
philly2014.columns

philly2016.columns = ['zip', 'no_buildings', 'year_built', 'prop_type', 'gba', 'id', 'energy_star_score', 'eui']
philly2015.columns = ['zip', 'prop_type', 'gba', 'year_built', 'no_buildings', 'id', 'energy_star_score', 'eui']
philly2014.columns = ['id', 'zip', 'eui', 'prop_type', 'no_buildings', 'energy_star_score', 'year_built', 'gba']

In [13]:
philly = pd.merge(philly2016, philly2015, how = 'outer', suffixes = ['_2016', '_2015'], 
                on = ['id'])

philly = pd.merge(philly, philly2014, how='outer', on='id')

philly.columns

Index(['zip_2016', 'no_buildings_2016', 'year_built_2016', 'prop_type_2016',
       'gba_2016', 'id', 'energy_star_score_2016', 'eui_2016', 'zip_2015',
       'prop_type_2015', 'gba_2015', 'year_built_2015', 'no_buildings_2015',
       'energy_star_score_2015', 'eui_2015', 'zip', 'eui', 'prop_type',
       'no_buildings', 'energy_star_score', 'year_built', 'gba'],
      dtype='object')

In [14]:
philly_del = ['zip_2015','prop_type_2015', 'gba_2015', 'year_built_2015', 'no_buildings_2015', 'zip', 'prop_type',
       'no_buildings', 'year_built', 'gba']

for col_name in philly_del:
    del philly[col_name]

In [16]:
philly.columns = ['zip', 'no_buildings', 'year_built', 'prop_type', 'gba', 'id', 'energy_star_score_2016', 'eui_2016', 'energy_star_score_2015', 'eui_2015', 'eui_2014', 'energy_star_score_2014']

In [17]:
philly_3 = philly.loc[(philly['eui_2016'].isnull() == False) & (philly['eui_2015'].isnull() == False)& (philly['eui_2014'].isnull() == False)]

In [18]:
# minneapolis public 
minneapolis2016_public
minneapolis2016_public['gba'] = minneapolis2016_public['Unnamed: 6'] + minneapolis2016_public['Unnamed: 7']
minneapolis2016_public

minneapolis2016_public = minneapolis2016_public.drop(['2016 Public Commercial Building Energy Benchmarking Data', 
                                                     'Unnamed: 1', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 9', 
                                                     'Unnamed: 10', 'Unnamed: 12', 'Published:', '2017.09.12'], axis=1)

In [19]:
# rename columns
minneapolis2016_public.columns = ['id', 'zip', 'energy_star_score', 'prop_type', 'year_built', 'eui', 'gba']
minneapolis2016_public = minneapolis2016_public.drop([0])

minneapolis2016_public = minneapolis2016_public.drop(minneapolis2016_public.index[0])

In [20]:
# minneapolis private
minneapolis2016_private
minneapolis2016_private['gba'] = minneapolis2016_private['Unnamed: 4'] + minneapolis2016_private['Unnamed: 5']
minneapolis2016_private

minneapolis2016_private = minneapolis2016_private.drop(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 8', 
                                                        'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Published:', 
                                                       '2017.09.12'], axis=1)

In [21]:
# rename columns 
minneapolis2016_private.columns = ['id', 'zip', 'energy_star_score', 'prop_type', 'year_built', 'eui', 'gba']
minneapolis2016_private = minneapolis2016_private.drop(minneapolis2016_private.index[0])

In [22]:
# concatenate the dataframes 
minneapolis2016 = pd.concat([minneapolis2016_public,minneapolis2016_private])

In [23]:
# minneapolis 2015 public 

minneapolis2015_public
minneapolis2015_public['gba'] = minneapolis2015_public['Floor Area (Buildings) (ft²)'] + minneapolis2015_public['Floor Area (Parking) (ft²)']
minneapolis2015_public

minneapolis2015_public = minneapolis2015_public.drop(['Organization Name', 'Property Name', 'Floor Area (Buildings) (ft²)',
                                                      'Floor Area (Parking) (ft²)', 'Total GHG Emissions (Metric Tons CO2e)', 
                                                      'Site EUI (kBtu/ft²)', 'Source EUI (kBtu/ft²)', 'Weather Normalized Source EUI (kBtu/ft²)', 
                                                      'Water Use (kgal)'], axis= 1)

In [24]:
minneapolis2015_public.columns = ['id', 'zip', 'energy_star_score', 'prop_type', 'year_built', 'eui', 'gba']

# minneapolis private 2015


minneapolis2015_private['gba'] = minneapolis2015_private['Floor Area (Building) (ft²)'] + minneapolis2015_private['Floor Area (Parking) (ft²)']

minneapolis2015_private = minneapolis2015_private.drop(['Floor Area (Building) (ft²)', 'Floor Area (Parking) (ft²)',
                                                        'Total GHG Emissions (Metric Tons CO2e)', 
                                                      'Site EUI (kBtu/ft²)', 'Source EUI (kBtu/ft²)', 'Weather Normalized Source EUI (kBtu/ft²)', 
                                                      'Water Use (kgal)'], axis= 1)

In [25]:
# rename columns and concatenate

minneapolis2015_private.columns = ['id', 'zip', 'energy_star_score', 'prop_type', 'year_built', 'eui', 'gba']
minneapolis2015 = pd.concat([minneapolis2015_public,minneapolis2015_private])

In [26]:
# minneapolis 2014 public


minneapolis2014_public = minneapolis2014_public.drop(['Organization Name', 'Property Name',
                                                      'Total GHG Emissions (Metric Tons CO2e)', 
                                                      'Site EUI (kBtu/ft²)', 'Source EUI (kBtu/ft²)', 
                                                      'Weather Normalized Source EUI (kBtu/ft²)'], axis= 1)

In [27]:
# rename columns
minneapolis2014_public.columns = ['id', 'zip', 'energy_star_score', 'prop_type', 'gba', 'year_built', 'eui']

# minneapolis 2014 private

minneapolis2014_private = minneapolis2014_private.drop(['Total GHG Emissions (Metric Tons CO2e)', 
                                                      'Site EUI (kBtu/ft²)', 'Source EUI (kBtu/ft²)', 
                                                      'Weather Normalized Source EUI (kBtu/ft²)'], axis= 1)

In [28]:
# rename columns and concatenate

minneapolis2014_private.columns = ['id', 'zip', 'energy_star_score', 'prop_type', 'gba', 'year_built', 'eui']


minneapolis2014 = pd.concat([minneapolis2014_public,minneapolis2014_private])

In [29]:
minneapolis = pd.merge(minneapolis2016, minneapolis2015, how = 'outer', suffixes = ['_2016', '_2015'], 
                on = 'id')
print(len(minneapolis))
print(len(minneapolis2016))

478
419

In [30]:
minneapolis = pd.merge(minneapolis, minneapolis2014, how='outer', on = 'id')

minneapolis.columns

Index(['id', 'zip_2016', 'energy_star_score_2016', 'prop_type_2016',
       'year_built_2016', 'eui_2016', 'gba_2016', 'zip_2015',
       'energy_star_score_2015', 'prop_type_2015', 'year_built_2015',
       'eui_2015', 'gba_2015', 'zip', 'energy_star_score', 'prop_type', 'gba',
       'year_built', 'eui'],
      dtype='object')

In [31]:
minneapolis=minneapolis.drop(['zip_2015','prop_type_2015','year_built_2015', 'gba_2015', 'zip','prop_type', 'gba',
       'year_built'], axis=1)

In [32]:
minneapolis.columns = ['id', 'zip', 'energy_star_score_2016', 'prop_type', 'year_built',
       'eui_2016', 'gba', 'energy_star_score_2015', 'eui_2015',
       'energy_star_score_2014', 'eui_2014']

In [33]:
minneapolis_3 = minneapolis.loc[(minneapolis['eui_2016'].isnull() == False) & (minneapolis['eui_2015'].isnull() == False)& (minneapolis['eui_2014'].isnull() == False)]

In [34]:
def add_city(df, city):
    df['city'] = city
    return df 

add_city(chicago_3, 'Chicago')
add_city(philly_3, 'Philadelphia')
add_city(minneapolis_3, 'Minneapolis') 

all_cities = pd.concat([chicago_3, philly_3, minneapolis_3])

/Users/sarahjordan/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [35]:
all_cities = all_cities.reset_index()

all_cities = all_cities.drop(['no_buildings'], axis=1)

In [36]:
# all_cities['energy_use_2014'] = all_cities['eui_2014'] * all_cities['gba']
# all_cities['energy_use_2015'] = all_cities['eui_2015'] * all_cities['gba']
# all_cities['energy_use_2016'] = all_cities['eui_2016'] * all_cities['gba']

cols = ['energy_star_score_2014', 'energy_star_score_2015', 'energy_star_score_2016', 'eui_2014', 'eui_2015', 
       'eui_2016', 'gba', 'year_built']

for col in cols:
    all_cities[col] = pd.to_numeric(all_cities[col], errors = 'coerce')
    
all_cities.round(1)
    

all_cities['year_built'] = pd.to_numeric(all_cities['year_built'], downcast = 'integer')
all_cities=all_cities.drop('index', axis=1)
all_cities.info()
all_cities.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 12 columns):
city                      1136 non-null object
energy_star_score_2014    753 non-null float64
energy_star_score_2015    827 non-null float64
energy_star_score_2016    828 non-null float64
eui_2014                  1136 non-null float64
eui_2015                  1131 non-null float64
eui_2016                  1127 non-null float64
gba                       1136 non-null float64
id                        1136 non-null object
prop_type                 1136 non-null object
year_built                1136 non-null int16
zip                       1136 non-null object
dtypes: float64(7), int16(1), object(4)
memory usage: 99.9+ KB

,city,energy_star_score_2014,energy_star_score_2015,energy_star_score_2016,eui_2014,eui_2015,eui_2016,gba,id,prop_type,year_built,zip
0,Chicago,64.0,40.0,40.0,72.0,138.8,131.3,335281.0,250150,Office,1912,60654
1,Chicago,1.0,1.0,3.0,302.0,311.5,288.8,373995.0,250138,Hospital (General Medical & Surgical),1981,60615
2,Chicago,85.0,88.0,86.0,89.0,84.7,88.6,1129407.0,250134,Office,1924,60604
3,Chicago,80.0,80.0,82.0,61.0,64.5,61.0,1506959.0,250129,Office,2007,60654
4,Chicago,16.0,12.0,9.0,227.0,234.7,256.1,1205371.0,250128,Hospital (General Medical & Surgical),2013,60637

In [37]:
all_cities.describe()

,energy_star_score_2014,energy_star_score_2015,energy_star_score_2016,eui_2014,eui_2015,eui_2016,gba,year_built
count,753.000000,827.000000,828.000000,1136.000000,1131.000000,1127.000000,1.136000e+03,1136.000000
mean,60.605578,57.336155,59.649758,99.977817,94.799293,128.350577,3.861767e+05,1960.149648
std,27.824723,32.089021,31.694018,111.548790,105.301396,926.232387,7.356561e+05,35.831699
min,1.000000,0.000000,0.000000,0.100000,0.100000,0.000000,1.865000e+03,1756.000000
25%,40.000000,32.000000,37.000000,56.175000,55.000000,52.550000,7.925850e+04,1929.000000
50%,68.000000,68.000000,70.000000,79.350000,75.500000,73.400000,1.599325e+05,1968.000000
75%,82.000000,84.000000,85.250000,110.400000,107.000000,104.000000,4.222058e+05,1989.000000
max,100.000000,100.000000,100.000000,2557.300000,2595.000000,29596.600000,1.435000e+07,2013.000000

In [38]:
# there are some null values in the eui_2014 column that slipped through the cracks
# same for a few in 2015 and 2016

all_cities.loc[(all_cities['eui_2014'].isnull() == True)]

# clearly there were some non-null values in eui for 2014
# examination shows that these were not marked as null originally but rather as 'Not Available'
# Let's get rid of those

all_cities = all_cities.loc[(all_cities['eui_2016'].isnull()== False) &(all_cities['eui_2015'].isnull()== False) &
                           (all_cities['eui_2014'].isnull()== False)]

all_cities.describe()

,energy_star_score_2014,energy_star_score_2015,energy_star_score_2016,eui_2014,eui_2015,eui_2016,gba,year_built
count,744.000000,822.000000,824.000000,1123.000000,1123.000000,1123.000000,1.123000e+03,1123.000000
mean,60.428763,57.261557,59.523058,100.180321,94.951558,128.643989,3.887370e+05,1960.123776
std,27.846489,32.127501,31.702167,111.310036,105.430254,927.867540,7.392525e+05,35.765200
min,1.000000,0.000000,0.000000,0.100000,0.100000,0.000000,1.865000e+03,1756.000000
25%,40.000000,32.000000,37.000000,56.450000,55.250000,52.750000,7.966650e+04,1929.000000
50%,68.000000,68.000000,70.000000,80.000000,75.700000,73.500000,1.603250e+05,1968.000000
75%,82.000000,84.000000,85.000000,112.000000,107.400000,104.000000,4.268135e+05,1989.000000
max,100.000000,100.000000,100.000000,2557.300000,2595.000000,29596.600000,1.435000e+07,2013.000000

In [39]:
all_cities.reindex()

# there is an outlier for eui_2016 - the max value is WAY too high 
all_cities.loc[all_cities['eui_2016'] == 29596.6]

# this is clearly a mistake in data entry. I am going to drop the row.
all_cities = all_cities.loc[all_cities['eui_2016'] != 29596.6]

In [44]:
all_cities.describe()

# some values still seem very high 
all_cities.loc[all_cities['eui_2016'] > 800]

# the parking garage with an eui of 9269 kbtus/sq ft (and a huge variation in eui year over year) clearly has data issues
# i will remove 

all_cities = all_cities.loc[all_cities['eui_2016'] < 9000]

all_cities.describe()

,energy_star_score_2014,energy_star_score_2015,energy_star_score_2016,eui_2014,eui_2015,eui_2016,gba,year_built
count,743.000000,821.000000,823.000000,1121.000000,1121.000000,1121.000000,1.121000e+03,1121.000000
mean,60.399731,57.227771,59.594168,99.946120,95.032471,94.202319,3.888163e+05,1960.083854
std,27.853977,32.132470,31.655622,111.027039,105.506314,106.577028,7.399065e+05,35.775118
min,1.000000,0.000000,0.000000,0.100000,0.100000,0.000000,1.865000e+03,1756.000000
25%,40.000000,32.000000,37.000000,56.400000,55.300000,52.600000,7.964100e+04,1929.000000
50%,68.000000,68.000000,70.000000,80.000000,76.000000,73.400000,1.600000e+05,1968.000000
75%,82.000000,84.000000,85.000000,112.000000,107.800000,104.000000,4.304430e+05,1989.000000
max,100.000000,100.000000,100.000000,2557.300000,2595.000000,2501.400000,1.435000e+07,2013.000000

In [45]:
# this looks way better!

In [151]:
all_cities.to_csv('city_energy.csv')