In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

paris = pd.read_csv('s3_files/paris/tomslee_airbnb_paris_1478_2017-07-25.csv')

In [25]:
paris.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,...,bedrooms,bathrooms,price,minstay,name,property_type,last_modified,latitude,longitude,location
0,10047973,1478,48528719,Shared room,NaN,Paris,NaN,Gare,1,0.0,...,1.0,NaN,108.0,NaN,놀러와 파리 민박-도미토리룸(3~4인실),Apartment,2017-07-30 15:04:34.451584,48.820876,2.368195,0101000020E6100000E0675C3810F202402009FB761269...
1,2864617,1478,4531179,Shared room,NaN,Paris,NaN,Villette,32,4.0,...,1.0,NaN,59.0,NaN,A Cheap flat & nice roomates ;-),Apartment,2017-07-30 15:04:27.937000,48.889049,2.375192,0101000020E610000044C4CDA96400034050C58D5BCC71...
2,5862381,1478,30438981,Shared room,NaN,Paris,NaN,Saint-Georges,0,0.0,...,1.0,NaN,121.0,NaN,PIGALLE,Apartment,2017-07-30 15:04:14.500773,48.881504,2.338549,0101000020E61000007FBF982D59B5024087A5811FD570...
3,17197886,1478,115781027,Shared room,NaN,Paris,NaN,Necker,0,0.0,...,1.0,NaN,93.0,NaN,Salon dans colocation,Apartment,2017-07-30 15:04:10.159664,48.838450,2.315149,0101000020E6100000D4EFC2D66C85024065AA6054526B...
4,16103729,1478,77134343,Shared room,NaN,Paris,NaN,Villette,4,4.5,...,1.0,NaN,100.0,NaN,Modern Apartment in Paris ❤️ !,Apartment,2017-07-30 15:04:08.086163,48.889861,2.375848,0101000020E6100000D522A298BC010340317E1AF7E671...

In [28]:
paris.describe()

,room_id,survey_id,host_id,country,borough,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,latitude,longitude
count,7.015800e+04,70158.0,7.015800e+04,0.0,0.0,70158.000000,70158.000000,70158.000000,70158.000000,0.0,70158.000000,0.0,70158.000000,70158.000000
mean,1.075385e+07,1478.0,3.435248e+07,NaN,NaN,14.614855,2.615104,3.069971,1.059309,NaN,110.765159,NaN,48.863823,2.344910
std,6.237362e+06,0.0,3.594610e+07,NaN,NaN,30.248054,2.322865,1.500163,0.821794,NaN,129.382673,NaN,0.018357,0.033546
min,2.525000e+03,1478.0,2.626000e+03,NaN,NaN,0.000000,0.000000,1.000000,0.000000,NaN,10.000000,NaN,48.816148,2.225073
25%,5.351442e+06,1478.0,7.528891e+06,NaN,NaN,0.000000,0.000000,2.000000,1.000000,NaN,60.000000,NaN,48.850552,2.323573
50%,1.132055e+07,1478.0,2.070677e+07,NaN,NaN,4.000000,4.500000,2.000000,1.000000,NaN,84.000000,NaN,48.864609,2.347932
75%,1.640439e+07,1478.0,4.769293e+07,NaN,NaN,14.000000,4.500000,4.000000,1.000000,NaN,121.000000,NaN,48.878960,2.370051
max,2.014408e+07,1478.0,1.432046e+08,NaN,NaN,529.000000,5.000000,16.000000,10.000000,NaN,11323.000000,NaN,48.901698,2.468284

In [29]:
paris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70158 entries, 0 to 70157
Data columns (total 21 columns):
room_id                 70158 non-null int64
survey_id               70158 non-null int64
host_id                 70158 non-null int64
room_type               70158 non-null object
country                 0 non-null float64
city                    70158 non-null object
borough                 0 non-null float64
neighborhood            70158 non-null object
reviews                 70158 non-null int64
overall_satisfaction    70158 non-null float64
accommodates            70158 non-null int64
bedrooms                70158 non-null float64
bathrooms               0 non-null float64
price                   70158 non-null float64
minstay                 0 non-null float64
name                    70045 non-null object
property_type           70158 non-null object
last_modified           70158 non-null object
latitude                70158 non-null float64
longitude               70158 non-null float64
location                70158 non-null object
dtypes: float64(9), int64(5), object(7)
memory usage: 11.2+ MB

In [7]:
# the minimum price for a night is $10.00. this seems low

paris[paris['price'] == 10.000000]

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,...,bedrooms,bathrooms,price,minstay,name,property_type,last_modified,latitude,longitude,location
60095,13364756,1478,27714011,Entire home/apt,NaN,Paris,NaN,Javel 15Art,0,0.0,...,1.0,NaN,10.0,NaN,close to the metro.safe and comfortable,Apartment,2017-07-25 05:46:16.430385,48.830675,2.276196,0101000020E6100000C3499A3FA63502406A4DF38E536A...
69320,12971022,1478,71364396,Private room,NaN,Paris,NaN,Folie-Méricourt,0,0.0,...,1.0,NaN,10.0,NaN,100% Gratis pr sinistrés Mac Murray,Apartment,2017-07-25 02:05:20.508851,48.869144,2.377705,0101000020E61000001349F4328A050340DFC14F1C406F...

In [8]:
# are there other low priced options? is $10.00 unreasonable?
paris[paris['price'] < 20]

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,...,bedrooms,bathrooms,price,minstay,name,property_type,last_modified,latitude,longitude,location
147,17807553,1478,103084032,Shared room,NaN,Paris,NaN,Clignancourt,9,5.0,...,1.0,NaN,14.0,NaN,Lit 2 places à partager / Shared bed,Apartment,2017-07-30 15:01:45.843226,48.892122,2.349862,0101000020E6100000BCE7C07284CC02406405BF0D3172...
219,4009545,1478,20790512,Shared room,NaN,Paris,NaN,Maison-Blanche,0,0.0,...,1.0,NaN,19.0,NaN,Une place sur le cannape,Apartment,2017-07-30 15:01:05.326198,48.823305,2.346152,0101000020E6100000588FFB56EBC402400FD1E80E6269...
577,18996379,1478,132516112,Shared room,NaN,Paris,NaN,Charonne,0,0.0,...,1.0,NaN,12.0,NaN,carlito's place,Apartment,2017-07-30 15:00:45.284680,48.849775,2.408438,0101000020E6100000978C63247B440340ADFA5C6DC56C...
587,20030743,1478,93814987,Shared room,NaN,Paris,NaN,Plaisance,0,0.0,...,1.0,NaN,16.0,NaN,Studio à partager avec homme,Apartment,2017-07-30 15:00:42.409471,48.832843,2.320164,0101000020E610000034DAAA24B28F0240ECD973999A6A...
642,19659553,1478,138403822,Shared room,NaN,Paris,NaN,Roquette,2,0.0,...,1.0,NaN,19.0,NaN,chambre paris 11eme,Apartment,2017-07-30 15:00:32.370498,48.857956,2.380274,0101000020E610000020274C18CD0A034018B49080D16D...
656,20133457,1478,110704911,Shared room,NaN,Paris,NaN,Gare,0,0.0,...,1.0,NaN,19.0,NaN,"Chinatown, Asian restaurant,the 13th district",Apartment,2017-07-30 15:00:32.329586,48.824503,2.377394,0101000020E61000002AA73D25E7040340193A76508969...
854,17894865,1478,122593249,Shared room,NaN,Paris,NaN,La Chapelle,0,0.0,...,1.0,NaN,16.0,NaN,Un beau studio sur paris 18èm,Apartment,2017-07-30 15:00:54.638882,48.886244,2.359881,0101000020E61000003D9D2B4A09E102405B2382717071...
859,13726512,1478,14245110,Shared room,NaN,Paris,NaN,Val-de-Grace,5,5.0,...,1.0,NaN,19.0,NaN,Canapé-lit au calme / Paris 5ème - Mouffetard,Apartment,2017-07-30 15:00:54.484073,48.841741,2.347297,0101000020E6100000C6FD47A643C70240E659492BBE6B...
1168,9539078,1478,49407959,Entire home/apt,NaN,Paris,NaN,Rochechouart,11,4.0,...,0.0,NaN,15.0,NaN,Studio South Pigalle,Apartment,2017-07-30 04:01:26.712028,48.882030,2.341038,0101000020E6100000C68B852172BA0240A20BEA5BE670...
60095,13364756,1478,27714011,Entire home/apt,NaN,Paris,NaN,Javel 15Art,0,0.0,...,1.0,NaN,10.0,NaN,close to the metro.safe and comfortable,Apartment,2017-07-25 05:46:16.430385,48.830675,2.276196,0101000020E6100000C3499A3FA63502406A4DF38E536A...
60143,19238303,1478,134661991,Entire home/apt,NaN,Paris,NaN,Plaisance,0,0.0,...,0.0,NaN,16.0,NaN,Sympathique studio dans un quartier vivant,Apartment,2017-07-25 05:44:58.474653,48.830729,2.317043,0101000020E6100000E46723D74D8902405D6BEF53556A...
60316,2716203,1478,144665,Entire home/apt,NaN,Paris,NaN,Petit-Montrouge,155,4.5,...,1.0,NaN,16.0,NaN,MODERN & CENTRAL APT 45sq.m.,Apartment,2017-07-25 05:44:53.312980,48.831963,2.328046,0101000020E61000003FABCC94D69F0240B43D7AC37D6A...
60411,15054345,1478,94965915,Entire home/apt,NaN,Paris,NaN,Invalides,2,0.0,...,0.0,NaN,12.0,NaN,Adorable studio d'1m2 au coeur de Paris,House,2017-07-25 05:41:08.611661,48.853910,2.311834,0101000020E6100000363FFED2A27E02401ADD41EC4C6D...
60418,16789299,1478,13407534,Entire home/apt,NaN,Paris,NaN,Auteuil,0,0.0,...,0.0,NaN,19.0,NaN,Petit studio meublé,Apartment,2017-07-25 05:45:41.673303,48.842508,2.264331,0101000020E6100000438D4292591D0240274F594DD76B...
60489,19351044,1478,60488852,Entire home/apt,NaN,Paris,NaN,Chaillot,0,0.0,...,0.0,NaN,19.0,NaN,14m Cosy and Clean Parisian rooftop studio.,Apartment,2017-07-25 05:40:53.881931,48.865869,2.289597,0101000020E61000005F28603B1851024064CF9ECBD46E...
60490,16753593,1478,35203200,Entire home/apt,NaN,Paris,NaN,Muette,0,0.0,...,0.0,NaN,19.0,NaN,Charmante studette,Apartment,2017-07-25 05:40:53.869746,48.861305,2.277227,0101000020E6100000A88B14CAC2370240CE70033E3F6E...
60518,5233134,1478,27083416,Entire home/apt,NaN,Paris,NaN,Grenelle,11,5.0,...,0.0,NaN,19.0,NaN,Little house flat Eiffel Tower,Apartment,2017-07-25 05:39:28.379021,48.850528,2.290366,0101000020E610000073F6CE68AB520240882AFC19DE6C...
60529,11425310,1478,939656,Entire home/apt,NaN,Paris,NaN,Saint-Victor,5,4.5,...,1.0,NaN,11.0,NaN,Great 1BR flat for 2 - Latin quart. P5,Apartment,2017-07-25 05:39:25.119997,48.844278,2.350653,0101000020E61000004DF4F92823CE0240BC5D2F4D116C...
60559,19657401,1478,32570717,Entire home/apt,NaN,Paris,NaN,Madeleine,0,0.0,...,0.0,NaN,14.0,NaN,Studio plein centre de Paris très calme,Apartment,2017-07-25 05:38:43.171002,48.872916,2.325159,0101000020E6100000220038F6EC990240DB1324B6BB6F...
60574,17211309,1478,105935051,Entire home/apt,NaN,Paris,NaN,Porte-Saint-Martin,12,4.5,...,0.0,NaN,12.0,NaN,"F, Cozy studio WIFI rue Sibour center Paris Fr...",Apartment,2017-07-25 05:38:24.754207,48.872465,2.358619,0101000020E610000036CB65A373DE0240CBF3E0EEAC6F...
60575,17210989,1478,105935051,Entire home/apt,NaN,Paris,NaN,Porte-Saint-Martin,11,4.0,...,0.0,NaN,12.0,NaN,"A, Charming Studio WIFI rue Sibour, Paris France",Apartment,2017-07-25 05:38:24.752212,48.873536,2.361346,0101000020E6100000C652245F09E4024078F01307D06F...
60622,4040002,1478,20946461,Entire home/apt,NaN,Paris,NaN,Petit-Montrouge,1,0.0,...,3.0,NaN,14.0,NaN,Bel appartement parisien,Apartment,2017-07-25 05:44:11.385430,48.831880,2.329907,0101000020E610000093C5FD47A6A302402619390B7B6A...
60648,15657791,1478,144665,Entire home/apt,NaN,Paris,NaN,Montparnasse,47,5.0,...,1.0,NaN,16.0,NaN,RENOVATED & STYLISH APT HEART OF PARIS,Apartment,2017-07-25 05:44:04.060355,48.833897,2.330221,0101000020E61000008C9E5BE84AA40240C39D0B23BD6A...
60695,13854174,1478,14273900,Entire home/apt,NaN,Paris,NaN,Gare,0,0.0,...,0.0,NaN,12.0,NaN,"Studio 18m2 à Paris, Residence cool M Porte d'...",Apartment,2017-07-25 05:41:39.315423,48.822258,2.376322,0101000020E61000005C1FD61BB5020340EB6F09C03F69...
60754,9628436,1478,25010775,Entire home/apt,NaN,Paris,NaN,Ternes,2,0.0,...,2.0,NaN,12.0,NaN,Appartement Paris Champs Elysees,Apartment,2017-07-25 05:36:40.495297,48.875282,2.296021,0101000020E6100000096F0F42405E02408463963D0970...
60783,16616516,1478,10562871,Entire home/apt,NaN,Paris,NaN,Monnaie,4,5.0,...,1.0,NaN,12.0,NaN,Beautiful parisian apartment in the Latin Quarter,Apartment,2017-07-25 05:36:11.982657,48.853194,2.339155,0101000020E6100000F4328AE596B602405C920376356D...
60839,2902281,1478,14831050,Entire home/apt,NaN,Paris,NaN,Picpus,5,5.0,...,0.0,NaN,12.0,NaN,Romantic & cosy 40m2 flat Bastille,Apartment,2017-07-25 05:35:37.972436,48.848854,2.385868,0101000020E61000005B9544F641160340168A743FA76C...
60888,3000360,1478,939656,Entire home/apt,NaN,Paris,NaN,Roquette,3,4.5,...,0.0,NaN,11.0,NaN,"Studio charmant et calme sur cour, Bastille - ...",Apartment,2017-07-25 05:35:31.456754,48.856895,2.378006,0101000020E6100000C2887D02280603408F8D40BCAE6D...
60952,18146945,1478,21193238,Entire home/apt,NaN,Paris,NaN,Saint-Ambroise,1,0.0,...,0.0,NaN,13.0,NaN,Cosy studio Fille du Calvaire / Oberkampf,Apartment,2017-07-25 05:35:10.762059,48.862685,2.369309,0101000020E61000009DF2E84658F40240F8DF4A766C6E...
60960,17325697,1478,939656,Entire home/apt,NaN,Paris,NaN,Enfants-Rouges,4,5.0,...,1.0,NaN,11.0,NaN,Joli F2 pour 4 avec 3 lits au cœur du Marais - P3,Apartment,2017-07-25 05:35:06.588592,48.861953,2.363952,0101000020E6100000A5828AAA5FE9024034D8D479546E...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62176,17211270,1478,105935051,Entire home/apt,NaN,Paris,NaN,Porte-Saint-Martin,19,4.5,...,0.0,NaN,12.0,NaN,"E, Cozy Studio WIFI rue Sibour center Paris Fr...",Apartment,2017-07-25 05:30:14.186750,48.873664,2.361352,0101000020E6100000E8C072840CE40240A5D8D138D46F...
62177,17211158,1478,105935051,Entire home/apt,NaN,Paris,NaN,Porte-Saint-Martin,7,4.0,...,0.0,NaN,12.0,NaN,"C, Charming Studio WIFI rue Sibour Centre of P...",Apartment,2017-07-25 05:30:14.181020,48.874306,2.359751,0101000020E61000005AA0DD21C5E0024029594E42E96F...
62195,17340653,1478,11606164,Entire home/apt,NaN,Paris,NaN,Belleville,0,0.0,...,1.0,NaN,12.0,NaN,Appartement calme style loft à Jourdain,Apartment,2017-07-25 05:30:12.018321,48.873945,2.393100,0101000020E6100000F775E09C1125034059C0046EDD6F...
62223,18168314,1478,125311846,Entire home/apt,NaN,Paris,NaN,Belleville,1,0.0,...,0.0,NaN,19.0,NaN,Studette lumineuse,Apartment,2017-07-25 05:30:08.673065,48.871709,2.390567,0101000020E6100000B62C5F97E11F03407F501729946F...
62437,19994600,1478,141811852,Entire home/apt,NaN,Paris,NaN,Goutte-dOr,0,0.0,...,0.0,NaN,19.0,NaN,15m2 small and cool studio at 18e close Montma...,Apartment,2017-07-25 05:29:38.694897,48.886068,2.355567,0101000020E61000006F4BE48233D802401D041DAD6A71...
62438,17211110,1478,105935051,Entire home/apt,NaN,Paris,NaN,Hôpital-Saint-Louis,19,4.0,...,0.0,NaN,12.0,NaN,B Cozy Studio WIFI rue Sibour center Paris France,Apartment,2017-07-25 05:29:38.692291,48.875444,2.361789,0101000020E61000009C6B98A1F1E402405EBD8A8C0E70...
68534,13290905,1478,5277135,Private room,NaN,Paris,NaN,Petit-Montrouge,0,0.0,...,1.0,NaN,19.0,NaN,"Chambre meublée, confortable à côte du commerce",Apartment,2017-07-25 02:21:55.774472,48.822090,2.325712,0101000020E610000069519FE40E9B0240302FC03E3A69...
68644,12132002,1478,65111357,Private room,NaN,Paris,NaN,Saint-Lambert,6,4.0,...,1.0,NaN,19.0,NaN,Cosy room for one in Paris!,Apartment,2017-07-25 02:20:08.920216,48.830522,2.293758,0101000020E6100000C78157CB9D590240E44D7E8B4E6A...
68645,19174805,1478,101987767,Private room,NaN,Paris,NaN,Saint-Lambert,1,0.0,...,0.0,NaN,19.0,NaN,Cozy studio in a safe area Paris 15 eme,Apartment,2017-07-25 02:20:08.912488,48.836055,2.292631,0101000020E6100000C05DF6EB4E5702402254A9D9036B...
68665,566456,1478,2786324,Private room,NaN,Paris,NaN,Necker,1,0.0,...,1.0,NaN,15.0,NaN,Chambre indépendante à Paris 15,Apartment,2017-07-25 02:20:01.445544,48.842100,2.309233,0101000020E610000072C0AE264F79024016FBCBEEC96B...
68735,13994556,1478,83573610,Private room,NaN,Paris,NaN,Parc-de-Montsouris,9,4.0,...,1.0,NaN,19.0,NaN,Logement à la cité Internationale Universitaire,Apartment,2017-07-25 02:18:51.487178,48.820541,2.339823,0101000020E6100000CA6DFB1EF5B702407903CC7C0769...
68804,12824897,1478,11701035,Private room,NaN,Paris,NaN,Javel 15Art,0,0.0,...,1.0,NaN,19.0,NaN,Chambre privative 12m²,Apartment,2017-07-25 02:14:55.578763,48.846941,2.279126,0101000020E6100000D5B48B69A63B02401E520C90686C...
68845,15460404,1478,41513285,Private room,NaN,Paris,NaN,Epinettes,0,0.0,...,1.0,NaN,14.0,NaN,super studio,Apartment,2017-07-25 02:13:12.662466,48.893267,2.323179,0101000020E610000029081EDFDE9502404BCCB3925672...
68932,17675857,1478,36549658,Private room,NaN,Paris,NaN,Plaine-Monceau,0,0.0,...,0.0,NaN,19.0,NaN,Courte durée proximité parc,Apartment,2017-07-25 02:12:06.620512,48.880017,2.306081,0101000020E6100000726A6798DA7202404776A565A470...
68964,15325257,1478,22915247,Private room,NaN,Paris,NaN,Notre-Dame-des-Champs,1,0.0,...,1.0,NaN,11.0,NaN,1 room in an appartment next to Port Royal,Apartment,2017-07-25 02:11:50.981414,48.841014,2.335930,0101000020E610000055F65D11FCAF024034BDC458A66B...
69003,19873677,1478,89516128,Private room,NaN,Paris,NaN,Picpus,0,0.0,...,1.0,NaN,19.0,NaN,chambre double dans grand appartement 60m (12e),Apartment,2017-07-25 02:11:33.563783,48.838762,2.399384,0101000020E6100000855D143DF031034054909F8D5C6B...
69045,14107371,1478,10221227,Private room,NaN,Paris,NaN,Epinettes,0,0.0,...,1.0,NaN,19.0,NaN,Chambre Batignolles Paris 17,Apartment,2017-07-25 02:13:56.872696,48.889188,2.322492,0101000020E6100000E7C589AF7694024071FF91E9D071...
69121,15832796,1478,18634170,Private room,NaN,Paris,NaN,Bonne-Nouvelle,47,5.0,...,1.0,NaN,12.0,NaN,Cosy room in appartment in central Paris,Apartment,2017-07-25 02:09:48.891069,48.867788,2.352211,0101000020E6100000E754320054D102403DEE5BAD136F...
69233,13248043,1478,37596556,Private room,NaN,Paris,NaN,Père-Lachaise,0,0.0,...,1.0,NaN,19.0,NaN,studette,Apartment,2017-07-25 02:07:23.250784,48.865549,2.399364,0101000020E61000001399B9C0E5310340F20A444FCA6E...
69243,565143,1478,2664648,Private room,NaN,Paris,NaN,Saint-Fargeau,21,3.5,...,1.0,NaN,19.0,NaN,#Cheap#Cosy#Paris#14,House,2017-07-25 02:07:07.205485,48.866978,2.409281,0101000020E610000050FEEE1D35460340FE2C9622F96E...
69320,12971022,1478,71364396,Private room,NaN,Paris,NaN,Folie-Méricourt,0,0.0,...,1.0,NaN,10.0,NaN,100% Gratis pr sinistrés Mac Murray,Apartment,2017-07-25 02:05:20.508851,48.869144,2.377705,0101000020E61000001349F4328A050340DFC14F1C406F...
69515,9770927,1478,8077472,Private room,NaN,Paris,NaN,Saint-Georges,8,4.5,...,1.0,NaN,15.0,NaN,Small room (without shower),Apartment,2017-07-25 02:06:46.356325,48.881806,2.330222,0101000020E6100000925B936E4BA4024052B5DD04DF70...
69794,14049301,1478,84245941,Private room,NaN,Paris,NaN,Amérique,0,0.0,...,1.0,NaN,14.0,NaN,Chambre lumineuse + terrasse en haut de Bellev...,Apartment,2017-07-25 02:04:09.683440,48.878111,2.397402,0101000020E610000081EB8A19E12D034001A1F5F06570...
69893,7650955,1478,37825130,Private room,NaN,Paris,NaN,Pont-de-Flandre,32,4.5,...,1.0,NaN,15.0,NaN,"Paris, grande chambre avec jardin",Apartment,2017-07-25 02:02:10.134958,48.892643,2.379796,0101000020E61000008236397CD20903406D0036204272...
69914,17094681,1478,50805652,Private room,NaN,Paris,NaN,Amérique,2,0.0,...,1.0,NaN,19.0,NaN,Chambre cozy confortable dans le Haut-Belleville,Apartment,2017-07-25 02:02:00.247852,48.876051,2.392922,0101000020E610000003081F4AB424034065506D702270...
70118,5867360,1478,22044876,Private room,NaN,Paris,NaN,Porte-Saint-Martin,112,4.5,...,1.0,NaN,19.0,NaN,Newly Refurbished Double Room,Apartment,2017-07-25 02:01:13.209016,48.873174,2.365072,0101000020E6100000857B65DEAAEB0240D7DB662AC46F...
70121,19562445,1478,75602785,Private room,NaN,Paris,NaN,Villette,1,0.0,...,0.0,NaN,19.0,NaN,Studio très lumineux et propre à Jaurès,Apartment,2017-07-25 02:01:13.196647,48.881714,2.373760,0101000020E6100000766C04E275FD024072361D01DC70...
70140,19675405,1478,138552342,Private room,NaN,Paris,NaN,Parc-de-Montsouris,0,0.0,...,1.0,NaN,16.0,NaN,Le lumineux détendu,Apartment,2017-07-25 02:01:11.593323,48.820977,2.330546,0101000020E6100000C4961E4DF5A4024054E23AC61569...
70151,17250604,1478,66687174,Private room,NaN,Paris,NaN,Combat,4,4.5,...,0.0,NaN,16.0,NaN,1 chambre dans un joli 4 pièces dans le 19ème,Apartment,2017-07-25 02:01:09.834404,48.879875,2.372920,0101000020E6100000CF31207BBDFB0240B4C876BE9F70...
70155,19538099,1478,137233376,Private room,NaN,Paris,NaN,Saint-Ambroise,0,0.0,...,0.0,NaN,16.0,NaN,Chambre à louer - Appartement dans le 11e ( Pa...,Apartment,2017-07-25 02:01:09.824780,48.862045,2.378554,0101000020E6100000ED28CE51470703401557957D576E...

There are many options that are under $20 a night. After looking at AirBnb options in Paris on their website, I see that there are a fair number of cheap options that are shared housing/almost hostel type situations. I will leave these in the data.

The max price also seems way too high. I will investigate.

In [9]:
paris[paris['price'] == 11323.000000]

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,...,bedrooms,bathrooms,price,minstay,name,property_type,last_modified,latitude,longitude,location
1222,7225849,1478,34063120,Entire home/apt,NaN,Paris,NaN,Clignancourt,23,5.0,...,2.0,NaN,11323.0,NaN,"Artistic apartment, Montmartre",Apartment,2017-07-30 03:58:41.994328,48.890107,2.346739,0101000020E610000061FBC9181FC602406878B306EF71...

It does accommodate 8 people, and it is an entire home. Lets see if there are any other similarly priced apartments.

In [11]:
paris[paris['price'] > 6000]

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,...,bedrooms,bathrooms,price,minstay,name,property_type,last_modified,latitude,longitude,location
1222,7225849,1478,34063120,Entire home/apt,NaN,Paris,NaN,Clignancourt,23,5.0,...,2.0,NaN,11323.0,NaN,"Artistic apartment, Montmartre",Apartment,2017-07-30 03:58:41.994328,48.890107,2.346739,0101000020E610000061FBC9181FC602406878B306EF71...
1227,16385121,1478,18859496,Entire home/apt,NaN,Paris,NaN,Combat,1,0.0,...,0.0,NaN,6036.0,NaN,Cosy new remodeled studio close to a park,Apartment,2017-07-30 03:58:40.154184,48.876392,2.379576,0101000020E6100000A0C552245F090340EF3CF19C2D70...
1228,18064066,1478,7608379,Entire home/apt,NaN,Paris,NaN,Gros-Caillou,0,0.0,...,4.0,NaN,10865.0,NaN,Mega Rich Penthouse,Apartment,2017-07-30 03:58:40.151890,48.858026,2.296517,0101000020E61000000DAA0D4E445F0240118FC4CBD36D...
1231,2995800,1478,14624625,Entire home/apt,NaN,Paris,NaN,Grandes-Carrières,9,5.0,...,1.0,NaN,10922.0,NaN,3 bedrooms flat in Montmartre!,Apartment,2017-07-30 03:58:40.143403,48.893146,2.335094,0101000020E6100000C4AF58C345AE0240D046AE9B5272...

There are actually a fair number of options for over $8,000. All of them are private homes and accommodate many people.

In [12]:
paris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70158 entries, 0 to 70157
Data columns (total 21 columns):
room_id                 70158 non-null int64
survey_id               70158 non-null int64
host_id                 70158 non-null int64
room_type               70158 non-null object
country                 0 non-null float64
city                    70158 non-null object
borough                 0 non-null float64
neighborhood            70158 non-null object
reviews                 70158 non-null int64
overall_satisfaction    70158 non-null float64
accommodates            70158 non-null int64
bedrooms                70158 non-null float64
bathrooms               0 non-null float64
price                   70158 non-null float64
minstay                 0 non-null float64
name                    70045 non-null object
property_type           70158 non-null object
last_modified           70158 non-null object
latitude                70158 non-null float64
longitude               70158 non-null float64
location                70158 non-null object
dtypes: float64(9), int64(5), object(7)
memory usage: 11.2+ MB

In [30]:
# convert last updated to datetime object, drop columns I don't care about
paris['last_modified'] = pd.to_datetime(paris['last_modified'])

paris = paris.drop(['bathrooms', 'city', 'borough', 'latitude', 'country', 'location', 'longitude', 'name', 'property_type', 
                   'survey_id', 'minstay'], axis=1)

In [31]:
paris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70158 entries, 0 to 70157
Data columns (total 10 columns):
room_id                 70158 non-null int64
host_id                 70158 non-null int64
room_type               70158 non-null object
neighborhood            70158 non-null object
reviews                 70158 non-null int64
overall_satisfaction    70158 non-null float64
accommodates            70158 non-null int64
bedrooms                70158 non-null float64
price                   70158 non-null float64
last_modified           70158 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(4), object(2)
memory usage: 5.4+ MB

In [29]:
paris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 620875 entries, 0 to 70157
Data columns (total 11 columns):
accommodates            620875 non-null float64
bedrooms                620875 non-null float64
host_id                 620875 non-null float64
last_modified           620875 non-null datetime64[ns]
minstay                 620875 non-null float64
neighborhood            620875 non-null object
overall_satisfaction    620875 non-null float64
price                   620875 non-null float64
reviews                 620875 non-null int64
room_id                 620875 non-null int64
room_type               620875 non-null object
dtypes: datetime64[ns](1), float64(6), int64(2), object(2)
memory usage: 56.8+ MB

In [32]:
# All the data is ready to go here! I will export to a csv.
paris.to_csv('paris_onemonth.csv')

In [33]:
# Add arrondissement data

neighborhoods = pd.read_csv('paris_quartier.csv')
neighborhoods.head()

,N_SQ_QU,C_QU,C_QUINSEE,L_QU,C_AR,N_SQ_AR,PERIMETRE,SURFACE,Geometry X Y,Geometry,OBJECTID,LONGUEUR
0,750000010,10,7510302,Enfants-Rouges,3,750000003,2139.62538775,271750.32393656,48.863887392,NaN,NaN,NaN
1,750000016,16,7510404,Notre-Dame,4,750000004,3283.16337082,378252.15367404,48.8528955862,NaN,NaN,NaN
2,750000018,18,7510502,Jardin-des-Plantes,5,750000005,4052.72952079,798389.39846272,48.8419401934,NaN,NaN,NaN
3,750000025,25,7510701,Saint-Thomas-dAquin,7,750000007,3827.25335281,826559.43678046,48.8552632694,NaN,NaN,NaN
4,750000035,35,7510903,Faubourg-Montmartre,9,750000009,2786.54192605,417335.0806209,48.8739346918,NaN,NaN,NaN

In [36]:
neighborhoods = neighborhoods[['L_QU', 'C_AR']]
neighborhoods.columns = ['neighborhood', 'arrondissement']
paris = pd.merge(paris, neighborhoods, how='left')
paris[paris['arrondissement'].isnull()]

KeyError: "['L_QU' 'C_AR'] not in index"

In [40]:
paris['log_price'] = np.log10(paris.price)

In [41]:
paris.to_csv('paris_onemonth.csv')