In [7]:

import pandas as pd
income = pd.read_csv('data/ACS_16_1YR_S1901_with_ann.csv')

In [8]:
income.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC04_EST_VC01,...,HC04_EST_VC19,HC04_MOE_VC19,HC01_EST_VC20,HC01_MOE_VC20,HC02_EST_VC20,HC02_MOE_VC20,HC03_EST_VC20,HC03_MOE_VC20,HC04_EST_VC20,HC04_MOE_VC20
0,1600000US0107000,107000,"Birmingham city, Alabama",90117,3280,48392,2231,22695,1671,41725,...,(X),(X),(X),(X),(X),(X),(X),(X),37.7,(X)
1,1600000US0121184,121184,"Dothan city, Alabama",26119,1073,15977,873,10578,757,10142,...,(X),(X),(X),(X),(X),(X),(X),(X),40.3,(X)
2,1600000US0135896,135896,"Hoover city, Alabama",32110,1725,22925,1112,N,N,9185,...,(X),(X),(X),(X),(X),(X),(X),(X),30.9,(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",80540,2701,46374,2317,31609,2032,34166,...,(X),(X),(X),(X),(X),(X),(X),(X),27.2,(X)
4,1600000US0150000,150000,"Mobile city, Alabama",79188,2424,43834,2144,26095,1866,35354,...,(X),(X),(X),(X),(X),(X),(X),(X),38.7,(X)

In [10]:
age = pd.read_csv('data/ACS_16_1YR_S0101_with_ann.csv')
age.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC01_EST_VC03,...,HC02_EST_VC42,HC02_MOE_VC42,HC03_EST_VC42,HC03_MOE_VC42,HC01_EST_VC43,HC01_MOE_VC43,HC02_EST_VC43,HC02_MOE_VC43,HC03_EST_VC43,HC03_MOE_VC43
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446,100602,2705,112832,2666,6.1,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288,32089,632,35625,651,6.6,...,(X),(X),(X),(X),1.8,(X),(X),(X),(X),(X)
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123,40646,2025,44297,2030,6.8,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817,96482,2233,99743,2439,6.7,...,(X),(X),(X),(X),3.6,(X),(X),(X),(X),(X)
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44,92787,2155,100108,2156,5.4,...,(X),(X),(X),(X),1.1,(X),(X),(X),(X),(X)

In [12]:
population = pd.read_csv('data/sub_est2016_all.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 5: invalid continuation byte