In [1]:

import pandas as pd
income = pd.read_csv('data/ACS_16_1YR_S1901_with_ann.csv')

In [2]:
income.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC04_EST_VC01,...,HC04_EST_VC19,HC04_MOE_VC19,HC01_EST_VC20,HC01_MOE_VC20,HC02_EST_VC20,HC02_MOE_VC20,HC03_EST_VC20,HC03_MOE_VC20,HC04_EST_VC20,HC04_MOE_VC20
0,1600000US0107000,107000,"Birmingham city, Alabama",90117,3280,48392,2231,22695,1671,41725,...,(X),(X),(X),(X),(X),(X),(X),(X),37.7,(X)
1,1600000US0121184,121184,"Dothan city, Alabama",26119,1073,15977,873,10578,757,10142,...,(X),(X),(X),(X),(X),(X),(X),(X),40.3,(X)
2,1600000US0135896,135896,"Hoover city, Alabama",32110,1725,22925,1112,N,N,9185,...,(X),(X),(X),(X),(X),(X),(X),(X),30.9,(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",80540,2701,46374,2317,31609,2032,34166,...,(X),(X),(X),(X),(X),(X),(X),(X),27.2,(X)
4,1600000US0150000,150000,"Mobile city, Alabama",79188,2424,43834,2144,26095,1866,35354,...,(X),(X),(X),(X),(X),(X),(X),(X),38.7,(X)

In [3]:
# I need to rename the columns 

income_column_names = pd.read_csv('data/ACS_16_1YR_S1901_metadata.csv', header=None)
income_column_names.head()

# Need to get rid of punctuation and spaces

punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*~'''

income_column_names_list = []
import string

for entry in income_column_names[1]:
    new_entry = ''
    for char in entry:
        if char == ' ':
            char = '_'
        if char not in punctuation:
                new_entry = new_entry + char
        
    income_column_names_list.append(new_entry)
    
# Replace column names

income.columns = income_column_names_list

income.head()

,Id,Id2,Geography,Households_Estimate_Total,Households_Margin_of_Error_Total,Families_Estimate_Total,Families_Margin_of_Error_Total,Marriedcouple_families_Estimate_Total,Marriedcouple_families_Margin_of_Error_Total,Nonfamily_households_Estimate_Total,...,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Family_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Family_income_in_the_past_12_months,Households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months
0,1600000US0107000,107000,"Birmingham city, Alabama",90117,3280,48392,2231,22695,1671,41725,...,(X),(X),(X),(X),(X),(X),(X),(X),37.7,(X)
1,1600000US0121184,121184,"Dothan city, Alabama",26119,1073,15977,873,10578,757,10142,...,(X),(X),(X),(X),(X),(X),(X),(X),40.3,(X)
2,1600000US0135896,135896,"Hoover city, Alabama",32110,1725,22925,1112,N,N,9185,...,(X),(X),(X),(X),(X),(X),(X),(X),30.9,(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",80540,2701,46374,2317,31609,2032,34166,...,(X),(X),(X),(X),(X),(X),(X),(X),27.2,(X)
4,1600000US0150000,150000,"Mobile city, Alabama",79188,2424,43834,2144,26095,1866,35354,...,(X),(X),(X),(X),(X),(X),(X),(X),38.7,(X)

In [4]:
age = pd.read_csv('data/ACS_16_1YR_S0101_with_ann.csv')
age.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC01_EST_VC03,...,HC02_EST_VC42,HC02_MOE_VC42,HC03_EST_VC42,HC03_MOE_VC42,HC01_EST_VC43,HC01_MOE_VC43,HC02_EST_VC43,HC02_MOE_VC43,HC03_EST_VC43,HC03_MOE_VC43
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446,100602,2705,112832,2666,6.1,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288,32089,632,35625,651,6.6,...,(X),(X),(X),(X),1.8,(X),(X),(X),(X),(X)
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123,40646,2025,44297,2030,6.8,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817,96482,2233,99743,2439,6.7,...,(X),(X),(X),(X),3.6,(X),(X),(X),(X),(X)
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44,92787,2155,100108,2156,5.4,...,(X),(X),(X),(X),1.1,(X),(X),(X),(X),(X)

In [5]:
# I need to rename the columns 

age_column_names = pd.read_csv('data/ACS_16_1YR_S0101_metadata.csv', header=None)
age_column_names.head()

# Need to get rid of punctuation and spaces

punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*~'''

age_column_names_list = []

import string

for entry in age_column_names[1]:
    new_entry = ''
    for char in entry:
        if char == ' ':
            char = '_'
        if char not in punctuation:
                new_entry = new_entry + char
        
    age_column_names_list.append(new_entry)
    
# Replace column names

age.columns = age_column_names_list

age.head()

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Male_Estimate_PERCENT_ALLOCATED__Sex,Male_Margin_of_Error_PERCENT_ALLOCATED__Sex,Female_Estimate_PERCENT_ALLOCATED__Sex,Female_Margin_of_Error_PERCENT_ALLOCATED__Sex,Total_Estimate_PERCENT_ALLOCATED__Age,Total_Margin_of_Error_PERCENT_ALLOCATED__Age,Male_Estimate_PERCENT_ALLOCATED__Age,Male_Margin_of_Error_PERCENT_ALLOCATED__Age,Female_Estimate_PERCENT_ALLOCATED__Age,Female_Margin_of_Error_PERCENT_ALLOCATED__Age
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446,100602,2705,112832,2666,6.1,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288,32089,632,35625,651,6.6,...,(X),(X),(X),(X),1.8,(X),(X),(X),(X),(X)
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123,40646,2025,44297,2030,6.8,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817,96482,2233,99743,2439,6.7,...,(X),(X),(X),(X),3.6,(X),(X),(X),(X),(X)
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44,92787,2155,100108,2156,5.4,...,(X),(X),(X),(X),1.1,(X),(X),(X),(X),(X)

In [6]:
population = pd.read_csv('data/ACS_16_1YR_B01003_with_ann.csv')
population.head()

             GEO.id  GEO.id2         GEO.display-label  HD01_VD01 HD02_VD01
0  1600000US0107000   107000  Birmingham city, Alabama     213434      1446
1  1600000US0121184   121184      Dothan city, Alabama      67714       288
2  1600000US0135896   135896      Hoover city, Alabama      84943       123
3  1600000US0137000   137000  Huntsville city, Alabama     196225      2817
4  1600000US0150000   150000      Mobile city, Alabama     192895        44

In [7]:
# Need to rename columns
population.columns = ['Id', 'Id2', 'Geo_Display_Label', 'Population', 'Population_Margin_of_Error']
population.head()

,Id,Id2,Geo_Display_Label,Population,Population_Margin_of_Error
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44

In [8]:
age_and_income = pd.merge(age, income)
demographics = pd.merge(age_and_income, population)
demographics.head()

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Geo_Display_Label,Population,Population_Margin_of_Error
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446,100602,2705,112832,2666,6.1,...,(X),(X),(X),(X),(X),37.7,(X),"Birmingham city, Alabama",213434,1446
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288,32089,632,35625,651,6.6,...,(X),(X),(X),(X),(X),40.3,(X),"Dothan city, Alabama",67714,288
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123,40646,2025,44297,2030,6.8,...,(X),(X),(X),(X),(X),30.9,(X),"Hoover city, Alabama",84943,123
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817,96482,2233,99743,2439,6.7,...,(X),(X),(X),(X),(X),27.2,(X),"Huntsville city, Alabama",196225,2817
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44,92787,2155,100108,2156,5.4,...,(X),(X),(X),(X),(X),38.7,(X),"Mobile city, Alabama",192895,44

In [41]:
# I need to have the state of each city in a separate column so that I can join cider data with demographic data 
demographics[['City', 'State']] = demographics['Geography'].str.split(',', expand=True)
demographics.head()

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Geo_Display_Label,Population,Population_Margin_of_Error,City,State
594,1600000US5548000,5548000,"Madison city, Wisconsin",252557,45,123627,2037,128930,2034,5.2,...,(X),(X),(X),22.0,(X),"Madison city, Wisconsin",252557,45,Madison city,Wisconsin
595,1600000US5553000,5553000,"Milwaukee city, Wisconsin",595070,71,286000,2651,309070,2648,7.7,...,(X),(X),(X),35.9,(X),"Milwaukee city, Wisconsin",595070,71,Milwaukee city,Wisconsin
596,1600000US5560500,5560500,"Oshkosh city, Wisconsin",66570,35,34509,1196,32061,1197,5.4,...,(X),(X),(X),36.4,(X),"Oshkosh city, Wisconsin",66570,35,Oshkosh city,Wisconsin
597,1600000US5566000,5566000,"Racine city, Wisconsin",77572,27,38466,1297,39106,1292,5.9,...,(X),(X),(X),26.6,(X),"Racine city, Wisconsin",77572,27,Racine city,Wisconsin
598,1600000US5584250,5584250,"Waukesha city, Wisconsin",72358,31,33576,1411,38782,1405,4.7,...,(X),(X),(X),29.8,(X),"Waukesha city, Wisconsin",72358,31,Waukesha city,Wisconsin

In [44]:
cider_data = pd.ExcelFile('data/cider_data.xlsx')
state_shipments = cider_data.parse('Sheet1')
state_volume = cider_data.parse('Page1')

state_shipments.columns = ['State', 'Shipments_16']

# Notice that there is a leading space in the State column of demographics 

print(demographics['State'][0])
print(state_shipments['State'][0])

# Get rid of the leading space
    
for i, row in demographics.iterrows():
    demographics.loc[i, 'State'] = demographics['State'][i].lstrip(' ')

# Now the dataframes can be merged on the State column 

dems_and_cider = demographics.merge(state_shipments, on = 'State', how= 'outer')

# Let's make sure that the data has been filled in appropriately
print(dems_and_cider.Shipments_16.unique())

# There are some values of nan. Let's investigate.

print(dems_and_cider.loc[dems_and_cider['Shipments_16'].isnull()])

# There's only one NaN at the end

dems_and_cider.tail()

 Alabama
Alabama
[  3461017.88664456    463118.7688172    4401868.8125       1674784.86021505
  23499163.09677419   3791716.61290323   1830490.06451613    699000.
    431937.96        13675027.25258064   5966000.           1021000.
   1025086.28387097   8581524.1141129    3665585.           2389414.40101868
   1728264.87455197   2564939.51612903   3387995.10791943
   1119365.19612903   2970064.61903226   3887604.30645161   6121783.
   3702885.           2227663.95356181   4083813.53193548   1000477.
   1484910.67741936   2483292.           1366533.           4542255.29032258
   1415605.65483871  10744481.89170507   6174013.09677419
    680738.12419355   7766262.           2340943.54367482   3036273.06
   8363058.41609923    605000.           3748000.            768000.
   4040894.86866359  20163994.25806452   1192944.35         5043798.5483871
   4274349.64         4815399.51          508785.83903226
   1257885.42181818    403172.5741129                 nan]
      Id  Id2 Geography Total_Estimate_Total_population  \
602  NaN  NaN       NaN                             NaN

    Total_Margin_of_Error_Total_population Male_Estimate_Total_population  \
602                                    NaN                            NaN

    Male_Margin_of_Error_Total_population Female_Estimate_Total_population  \
602                                   NaN                              NaN

    Female_Margin_of_Error_Total_population Total_Estimate_AGE__Under_5_years  \
602                                     NaN                               NaN

        ...       \
602     ...

    Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months  \
602                                                NaN

    Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months  \
602                                                NaN

    Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months  \
602                                                NaN

    Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months  \
602                                                NaN

    Geo_Display_Label Population Population_Margin_of_Error City  State  \
602               NaN        NaN                        NaN  NaN  Total

    Shipments_16
602          NaN

[1 rows x 353 columns]

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Geo_Display_Label,Population,Population_Margin_of_Error,City,State,Shipments_16
598,1600000US5584250,5584250.0,"Waukesha city, Wisconsin",72358,31,33576,1411,38782,1405,4.7,...,(X),(X),29.8,(X),"Waukesha city, Wisconsin",72358.0,31,Waukesha city,Wisconsin,4.815400e+06
599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vermont,5.087858e+05
600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia,1.257885e+06
601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wyoming,4.031726e+05
602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN

In [50]:
# Looks like some additional rows got added to the bottom of the dataframe. 
# I need to remove them

dems_and_cider.drop(dems_and_cider.index[[599,600,601,602]])
dems_and_cider.tail()

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Geo_Display_Label,Population,Population_Margin_of_Error,City,State,Shipments_16
598,1600000US5584250,5584250.0,"Waukesha city, Wisconsin",72358,31,33576,1411,38782,1405,4.7,...,(X),(X),29.8,(X),"Waukesha city, Wisconsin",72358.0,31,Waukesha city,Wisconsin,4.815400e+06
599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vermont,5.087858e+05
600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia,1.257885e+06
601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wyoming,4.031726e+05
602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN