In [2]:

import pandas as pd
income = pd.read_csv('data/ACS_16_1YR_S1901_with_ann.csv')

In [3]:
income.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC04_EST_VC01,...,HC04_EST_VC19,HC04_MOE_VC19,HC01_EST_VC20,HC01_MOE_VC20,HC02_EST_VC20,HC02_MOE_VC20,HC03_EST_VC20,HC03_MOE_VC20,HC04_EST_VC20,HC04_MOE_VC20
0,1600000US0107000,107000,"Birmingham city, Alabama",90117,3280,48392,2231,22695,1671,41725,...,(X),(X),(X),(X),(X),(X),(X),(X),37.7,(X)
1,1600000US0121184,121184,"Dothan city, Alabama",26119,1073,15977,873,10578,757,10142,...,(X),(X),(X),(X),(X),(X),(X),(X),40.3,(X)
2,1600000US0135896,135896,"Hoover city, Alabama",32110,1725,22925,1112,N,N,9185,...,(X),(X),(X),(X),(X),(X),(X),(X),30.9,(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",80540,2701,46374,2317,31609,2032,34166,...,(X),(X),(X),(X),(X),(X),(X),(X),27.2,(X)
4,1600000US0150000,150000,"Mobile city, Alabama",79188,2424,43834,2144,26095,1866,35354,...,(X),(X),(X),(X),(X),(X),(X),(X),38.7,(X)

In [4]:
# I need to rename the columns 

income_column_names = pd.read_csv('data/ACS_16_1YR_S1901_metadata.csv', header=None)
income_column_names.head()

# Need to get rid of punctuation and spaces

punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*~'''

income_column_names_list = []
import string

for entry in income_column_names[1]:
    new_entry = ''
    for char in entry:
        if char == ' ':
            char = '_'
        if char not in punctuation:
                new_entry = new_entry + char
        
    income_column_names_list.append(new_entry)
    
# Replace column names

income.columns = income_column_names_list

income.head()

,Id,Id2,Geography,Households_Estimate_Total,Households_Margin_of_Error_Total,Families_Estimate_Total,Families_Margin_of_Error_Total,Marriedcouple_families_Estimate_Total,Marriedcouple_families_Margin_of_Error_Total,Nonfamily_households_Estimate_Total,...,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Family_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Family_income_in_the_past_12_months,Households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months
0,1600000US0107000,107000,"Birmingham city, Alabama",90117,3280,48392,2231,22695,1671,41725,...,(X),(X),(X),(X),(X),(X),(X),(X),37.7,(X)
1,1600000US0121184,121184,"Dothan city, Alabama",26119,1073,15977,873,10578,757,10142,...,(X),(X),(X),(X),(X),(X),(X),(X),40.3,(X)
2,1600000US0135896,135896,"Hoover city, Alabama",32110,1725,22925,1112,N,N,9185,...,(X),(X),(X),(X),(X),(X),(X),(X),30.9,(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",80540,2701,46374,2317,31609,2032,34166,...,(X),(X),(X),(X),(X),(X),(X),(X),27.2,(X)
4,1600000US0150000,150000,"Mobile city, Alabama",79188,2424,43834,2144,26095,1866,35354,...,(X),(X),(X),(X),(X),(X),(X),(X),38.7,(X)

In [5]:
age = pd.read_csv('data/ACS_16_1YR_S0101_with_ann.csv')
age.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC01_EST_VC03,...,HC02_EST_VC42,HC02_MOE_VC42,HC03_EST_VC42,HC03_MOE_VC42,HC01_EST_VC43,HC01_MOE_VC43,HC02_EST_VC43,HC02_MOE_VC43,HC03_EST_VC43,HC03_MOE_VC43
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446,100602,2705,112832,2666,6.1,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288,32089,632,35625,651,6.6,...,(X),(X),(X),(X),1.8,(X),(X),(X),(X),(X)
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123,40646,2025,44297,2030,6.8,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817,96482,2233,99743,2439,6.7,...,(X),(X),(X),(X),3.6,(X),(X),(X),(X),(X)
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44,92787,2155,100108,2156,5.4,...,(X),(X),(X),(X),1.1,(X),(X),(X),(X),(X)

In [6]:
# I need to rename the columns 

age_column_names = pd.read_csv('data/ACS_16_1YR_S0101_metadata.csv', header=None)
age_column_names.head()

# Need to get rid of punctuation and spaces

punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*~'''

age_column_names_list = []

import string

for entry in age_column_names[1]:
    new_entry = ''
    for char in entry:
        if char == ' ':
            char = '_'
        if char not in punctuation:
                new_entry = new_entry + char
        
    age_column_names_list.append(new_entry)
    
# Replace column names

age.columns = age_column_names_list

age.head()

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Male_Estimate_PERCENT_ALLOCATED__Sex,Male_Margin_of_Error_PERCENT_ALLOCATED__Sex,Female_Estimate_PERCENT_ALLOCATED__Sex,Female_Margin_of_Error_PERCENT_ALLOCATED__Sex,Total_Estimate_PERCENT_ALLOCATED__Age,Total_Margin_of_Error_PERCENT_ALLOCATED__Age,Male_Estimate_PERCENT_ALLOCATED__Age,Male_Margin_of_Error_PERCENT_ALLOCATED__Age,Female_Estimate_PERCENT_ALLOCATED__Age,Female_Margin_of_Error_PERCENT_ALLOCATED__Age
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446,100602,2705,112832,2666,6.1,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288,32089,632,35625,651,6.6,...,(X),(X),(X),(X),1.8,(X),(X),(X),(X),(X)
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123,40646,2025,44297,2030,6.8,...,(X),(X),(X),(X),1.2,(X),(X),(X),(X),(X)
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817,96482,2233,99743,2439,6.7,...,(X),(X),(X),(X),3.6,(X),(X),(X),(X),(X)
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44,92787,2155,100108,2156,5.4,...,(X),(X),(X),(X),1.1,(X),(X),(X),(X),(X)

In [7]:
population = pd.read_csv('data/ACS_16_1YR_B01003_with_ann.csv')
population.head()

             GEO.id  GEO.id2         GEO.display-label  HD01_VD01 HD02_VD01
0  1600000US0107000   107000  Birmingham city, Alabama     213434      1446
1  1600000US0121184   121184      Dothan city, Alabama      67714       288
2  1600000US0135896   135896      Hoover city, Alabama      84943       123
3  1600000US0137000   137000  Huntsville city, Alabama     196225      2817
4  1600000US0150000   150000      Mobile city, Alabama     192895        44

In [8]:
# Need to rename columns
population.columns = ['Id', 'Id2', 'Geo_Display_Label', 'Population', 'Population_Margin_of_Error']
population.head()

,Id,Id2,Geo_Display_Label,Population,Population_Margin_of_Error
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44

In [9]:
age_and_income = pd.merge(age, income)
demographics = pd.merge(age_and_income, population)
demographics.head()

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Geo_Display_Label,Population,Population_Margin_of_Error
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446,100602,2705,112832,2666,6.1,...,(X),(X),(X),(X),(X),37.7,(X),"Birmingham city, Alabama",213434,1446
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288,32089,632,35625,651,6.6,...,(X),(X),(X),(X),(X),40.3,(X),"Dothan city, Alabama",67714,288
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123,40646,2025,44297,2030,6.8,...,(X),(X),(X),(X),(X),30.9,(X),"Hoover city, Alabama",84943,123
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817,96482,2233,99743,2439,6.7,...,(X),(X),(X),(X),(X),27.2,(X),"Huntsville city, Alabama",196225,2817
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44,92787,2155,100108,2156,5.4,...,(X),(X),(X),(X),(X),38.7,(X),"Mobile city, Alabama",192895,44

In [10]:
# I need to have the state of each city in a separate column so that I can join cider data with demographic data 
demographics[['City', 'State']] = demographics['Geography'].str.split(',', expand=True)
demographics.head()

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Geo_Display_Label,Population,Population_Margin_of_Error,City,State
0,1600000US0107000,107000,"Birmingham city, Alabama",213434,1446,100602,2705,112832,2666,6.1,...,(X),(X),(X),37.7,(X),"Birmingham city, Alabama",213434,1446,Birmingham city,Alabama
1,1600000US0121184,121184,"Dothan city, Alabama",67714,288,32089,632,35625,651,6.6,...,(X),(X),(X),40.3,(X),"Dothan city, Alabama",67714,288,Dothan city,Alabama
2,1600000US0135896,135896,"Hoover city, Alabama",84943,123,40646,2025,44297,2030,6.8,...,(X),(X),(X),30.9,(X),"Hoover city, Alabama",84943,123,Hoover city,Alabama
3,1600000US0137000,137000,"Huntsville city, Alabama",196225,2817,96482,2233,99743,2439,6.7,...,(X),(X),(X),27.2,(X),"Huntsville city, Alabama",196225,2817,Huntsville city,Alabama
4,1600000US0150000,150000,"Mobile city, Alabama",192895,44,92787,2155,100108,2156,5.4,...,(X),(X),(X),38.7,(X),"Mobile city, Alabama",192895,44,Mobile city,Alabama

In [11]:
cider_data = pd.ExcelFile('data/cider_data.xlsx')
state_shipments = cider_data.parse('Sheet1')
state_volume = cider_data.parse('Page1')

state_shipments.columns = ['State', 'Shipments_16']

# Notice that there is a leading space in the State column of demographics 

print(demographics['State'][0])
print(state_shipments['State'][0])

# Get rid of the leading space
    
for i, row in demographics.iterrows():
    demographics.loc[i, 'State'] = demographics['State'][i].lstrip(' ')

# Now the dataframes can be merged on the State column 

dems_and_cider = demographics.merge(state_shipments, on = 'State', how= 'outer')

# Let's make sure that the data has been filled in appropriately
print(dems_and_cider.Shipments_16.unique())

# There are some values of nan. Let's investigate.

print(dems_and_cider.loc[dems_and_cider['Shipments_16'].isnull()])

# There's only one NaN at the end

dems_and_cider.tail()

 Alabama
Alabama
[  3461017.88664456    463118.7688172    4401868.8125       1674784.86021505
  23499163.09677419   3791716.61290323   1830490.06451613    699000.
    431937.96        13675027.25258064   5966000.           1021000.
   1025086.28387097   8581524.1141129    3665585.           2389414.40101868
   1728264.87455197   2564939.51612903   3387995.10791943
   1119365.19612903   2970064.61903226   3887604.30645161   6121783.
   3702885.           2227663.95356181   4083813.53193548   1000477.
   1484910.67741936   2483292.           1366533.           4542255.29032258
   1415605.65483871  10744481.89170507   6174013.09677419
    680738.12419355   7766262.           2340943.54367482   3036273.06
   8363058.41609923    605000.           3748000.            768000.
   4040894.86866359  20163994.25806452   1192944.35         5043798.5483871
   4274349.64         4815399.51          508785.83903226
   1257885.42181818    403172.5741129                 nan]
      Id  Id2 Geography Total_Estimate_Total_population  \
602  NaN  NaN       NaN                             NaN

    Total_Margin_of_Error_Total_population Male_Estimate_Total_population  \
602                                    NaN                            NaN

    Male_Margin_of_Error_Total_population Female_Estimate_Total_population  \
602                                   NaN                              NaN

    Female_Margin_of_Error_Total_population Total_Estimate_AGE__Under_5_years  \
602                                     NaN                               NaN

        ...       \
602     ...

    Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months  \
602                                                NaN

    Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months  \
602                                                NaN

    Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months  \
602                                                NaN

    Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months  \
602                                                NaN

    Geo_Display_Label Population Population_Margin_of_Error City  State  \
602               NaN        NaN                        NaN  NaN  Total

    Shipments_16
602          NaN

[1 rows x 353 columns]

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Geo_Display_Label,Population,Population_Margin_of_Error,City,State,Shipments_16
598,1600000US5584250,5584250.0,"Waukesha city, Wisconsin",72358,31,33576,1411,38782,1405,4.7,...,(X),(X),29.8,(X),"Waukesha city, Wisconsin",72358.0,31,Waukesha city,Wisconsin,4.815400e+06
599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vermont,5.087858e+05
600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia,1.257885e+06
601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wyoming,4.031726e+05
602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN

In [12]:
# Looks like some additional rows got added to the bottom of the dataframe. 
# I need to remove them

dems_and_cider.drop(dems_and_cider.index[[599,600,601,602]])

,Id,Id2,Geography,Total_Estimate_Total_population,Total_Margin_of_Error_Total_population,Male_Estimate_Total_population,Male_Margin_of_Error_Total_population,Female_Estimate_Total_population,Female_Margin_of_Error_Total_population,Total_Estimate_AGE__Under_5_years,...,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Margin_of_Error_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Geo_Display_Label,Population,Population_Margin_of_Error,City,State,Shipments_16
0,1600000US0107000,107000.0,"Birmingham city, Alabama",213434,1446,100602,2705,112832,2666,6.1,...,(X),(X),37.7,(X),"Birmingham city, Alabama",213434.0,1446,Birmingham city,Alabama,3.461018e+06
1,1600000US0121184,121184.0,"Dothan city, Alabama",67714,288,32089,632,35625,651,6.6,...,(X),(X),40.3,(X),"Dothan city, Alabama",67714.0,288,Dothan city,Alabama,3.461018e+06
2,1600000US0135896,135896.0,"Hoover city, Alabama",84943,123,40646,2025,44297,2030,6.8,...,(X),(X),30.9,(X),"Hoover city, Alabama",84943.0,123,Hoover city,Alabama,3.461018e+06
3,1600000US0137000,137000.0,"Huntsville city, Alabama",196225,2817,96482,2233,99743,2439,6.7,...,(X),(X),27.2,(X),"Huntsville city, Alabama",196225.0,2817,Huntsville city,Alabama,3.461018e+06
4,1600000US0150000,150000.0,"Mobile city, Alabama",192895,44,92787,2155,100108,2156,5.4,...,(X),(X),38.7,(X),"Mobile city, Alabama",192895.0,44,Mobile city,Alabama,3.461018e+06
5,1600000US0151000,151000.0,"Montgomery city, Alabama",200024,22,94034,997,105990,998,7.1,...,(X),(X),36.2,(X),"Montgomery city, Alabama",200024.0,22,Montgomery city,Alabama,3.461018e+06
6,1600000US0177256,177256.0,"Tuscaloosa city, Alabama",99556,48,46721,1780,52835,1784,6.1,...,(X),(X),52.7,(X),"Tuscaloosa city, Alabama",99556.0,48,Tuscaloosa city,Alabama,3.461018e+06
7,1600000US0203000,203000.0,"Anchorage municipality, Alaska",298192,*****,152882,920,145310,920,7.3,...,(X),(X),23.2,(X),"Anchorage municipality, Alaska",298192.0,*****,Anchorage municipality,Alaska,4.631188e+05
8,1600000US0404720,404720.0,"Avondale city, Arizona",82875,36,41915,2217,40960,2213,6.8,...,(X),(X),35.4,(X),"Avondale city, Arizona",82875.0,36,Avondale city,Arizona,4.401869e+06
9,1600000US0410670,410670.0,"Casas Adobes CDP, Arizona",70589,5147,33958,3152,36631,2918,6.4,...,(X),(X),29.2,(X),"Casas Adobes CDP, Arizona",70589.0,5147,Casas Adobes CDP,Arizona,4.401869e+06
10,1600000US0412000,412000.0,"Chandler city, Arizona",247459,76,123184,3451,124275,3459,6.5,...,(X),(X),28.1,(X),"Chandler city, Arizona",247459.0,76,Chandler city,Arizona,4.401869e+06
11,1600000US0423620,423620.0,"Flagstaff city, Arizona",71455,22,35760,1040,35695,1037,4.2,...,(X),(X),39.1,(X),"Flagstaff city, Arizona",71455.0,22,Flagstaff city,Arizona,4.401869e+06
12,1600000US0427400,427400.0,"Gilbert town, Arizona",237120,73,115040,3339,122080,3342,8.9,...,(X),(X),38.0,(X),"Gilbert town, Arizona",237120.0,73,Gilbert town,Arizona,4.401869e+06
13,1600000US0427820,427820.0,"Glendale city, Arizona",245849,165,121450,3598,124399,3601,6.7,...,(X),(X),39.6,(X),"Glendale city, Arizona",245849.0,165,Glendale city,Arizona,4.401869e+06
14,1600000US0428380,428380.0,"Goodyear city, Arizona",77266,44,37699,1937,39567,1933,7.7,...,(X),(X),24.5,(X),"Goodyear city, Arizona",77266.0,44,Goodyear city,Arizona,4.401869e+06
15,1600000US0446000,446000.0,"Mesa city, Arizona",484622,129,238380,4603,246242,4612,7.0,...,(X),(X),32.3,(X),"Mesa city, Arizona",484622.0,129,Mesa city,Arizona,4.401869e+06
16,1600000US0454050,454050.0,"Peoria city, Arizona",164198,105,80214,2490,83984,2495,6.0,...,(X),(X),31.7,(X),"Peoria city, Arizona",164198.0,105,Peoria city,Arizona,4.401869e+06
17,1600000US0455000,455000.0,"Phoenix city, Arizona",1615041,96,801784,6871,813257,6872,7.6,...,(X),(X),32.2,(X),"Phoenix city, Arizona",1615041.0,96,Phoenix city,Arizona,4.401869e+06
18,1600000US0464210,464210.0,"San Tan Valley CDP, Arizona",82911,8009,42051,4406,40860,4409,7.6,...,(X),(X),29.5,(X),"San Tan Valley CDP, Arizona",82911.0,8009,San Tan Valley CDP,Arizona,4.401869e+06
19,1600000US0465000,465000.0,"Scottsdale city, Arizona",246646,32,120633,3001,126013,3002,3.1,...,(X),(X),27.7,(X),"Scottsdale city, Arizona",246646.0,32,Scottsdale city,Arizona,4.401869e+06
20,1600000US0471510,471510.0,"Surprise city, Arizona",132673,41,63627,2225,69046,2228,6.6,...,(X),(X),33.3,(X),"Surprise city, Arizona",132673.0,41,Surprise city,Arizona,4.401869e+06
21,1600000US0473000,473000.0,"Tempe city, Arizona",182499,41,94223,3657,88276,3660,4.1,...,(X),(X),32.9,(X),"Tempe city, Arizona",182499.0,41,Tempe city,Arizona,4.401869e+06
22,1600000US0477000,477000.0,"Tucson city, Arizona",530690,77,262581,3489,268109,3488,6.0,...,(X),(X),31.7,(X),"Tucson city, Arizona",530690.0,77,Tucson city,Arizona,4.401869e+06
23,1600000US0485540,485540.0,"Yuma city, Arizona",94892,58,48650,1653,46242,1653,7.6,...,(X),(X),27.0,(X),"Yuma city, Arizona",94892.0,58,Yuma city,Arizona,4.401869e+06
24,1600000US0515190,515190.0,"Conway city, Arkansas",65300,18,31768,1015,33532,1015,6.1,...,(X),(X),24.3,(X),"Conway city, Arkansas",65300.0,18,Conway city,Arkansas,1.674785e+06
25,1600000US0523290,523290.0,"Fayetteville city, Arkansas",83823,33,41617,1732,42206,1735,5.9,...,(X),(X),16.0,(X),"Fayetteville city, Arkansas",83823.0,33,Fayetteville city,Arkansas,1.674785e+06
26,1600000US0524550,524550.0,"Fort Smith city, Arkansas",88122,40,42688,1329,45434,1325,7.9,...,(X),(X),44.8,(X),"Fort Smith city, Arkansas",88122.0,40,Fort Smith city,Arkansas,1.674785e+06
27,1600000US0535710,535710.0,"Jonesboro city, Arkansas",74892,21,36521,1440,38371,1443,6.0,...,(X),(X),31.2,(X),"Jonesboro city, Arkansas",74892.0,21,Jonesboro city,Arkansas,1.674785e+06
28,1600000US0541000,541000.0,"Little Rock city, Arkansas",198546,39,95972,2646,102574,2647,5.9,...,(X),(X),31.7,(X),"Little Rock city, Arkansas",198546.0,39,Little Rock city,Arkansas,1.674785e+06
29,1600000US0550450,550450.0,"North Little Rock city, Arkansas",66273,33,31569,1926,34704,1922,8.3,...,(X),(X),32.0,(X),"North Little Rock city, Arkansas",66273.0,33,North Little Rock city,Arkansas,1.674785e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,1600000US5167000,5167000.0,"Richmond city, Virginia",223170,*****,106262,505,116908,505,5.9,...,(X),(X),33.6,(X),"Richmond city, Virginia",223170.0,*****,Richmond city,Virginia,5.043799e+06
570,1600000US5168000,5168000.0,"Roanoke city, Virginia",99660,*****,47335,1288,52325,1288,6.7,...,(X),(X),34.3,(X),"Roanoke city, Virginia",99660.0,*****,Roanoke city,Virginia,5.043799e+06
571,1600000US5176432,5176432.0,"Suffolk city, Virginia",89273,*****,43617,611,45656,611,6.4,...,(X),(X),29.4,(X),"Suffolk city, Virginia",89273.0,*****,Suffolk city,Virginia,5.043799e+06
572,1600000US5182000,5182000.0,"Virginia Beach city, Virginia",452602,*****,222398,646,230204,646,6.4,...,(X),(X),33.2,(X),"Virginia Beach city, Virginia",452602.0,*****,Virginia Beach city,Virginia,5.043799e+06
573,1600000US5303180,5303180.0,"Auburn city, Washington",75968,2030,37339,2228,38629,1870,8.6,...,(X),(X),30.8,(X),"Auburn city, Washington",75968.0,2030,Auburn city,Washington,4.274350e+06
574,1600000US5305210,5305210.0,"Bellevue city, Washington",141415,59,70126,2299,71289,2299,5.5,...,(X),(X),19.5,(X),"Bellevue city, Washington",141415.0,59,Bellevue city,Washington,4.274350e+06
575,1600000US5305280,5305280.0,"Bellingham city, Washington",87577,31,42659,1737,44918,1737,4.4,...,(X),(X),35.0,(X),"Bellingham city, Washington",87577.0,31,Bellingham city,Washington,4.274350e+06
576,1600000US5322640,5322640.0,"Everett city, Washington",109035,42,57171,2359,51864,2358,6.6,...,(X),(X),27.3,(X),"Everett city, Washington",109035.0,42,Everett city,Washington,4.274350e+06
577,1600000US5323515,5323515.0,"Federal Way city, Washington",96748,44,45881,1869,50867,1869,7.4,...,(X),(X),21.8,(X),"Federal Way city, Washington",96748.0,44,Federal Way city,Washington,4.274350e+06
578,1600000US5335275,5335275.0,"Kennewick city, Washington",80469,57,40538,1734,39931,1736,7.3,...,(X),(X),26.9,(X),"Kennewick city, Washington",80469.0,57,Kennewick city,Washington,4.274350e+06
579,1600000US5335415,5335415.0,"Kent city, Washington",127506,54,64371,1939,63135,1930,7.1,...,(X),(X),29.5,(X),"Kent city, Washington",127506.0,54,Kent city,Washington,4.274350e+06
580,1600000US5335940,5335940.0,"Kirkland city, Washington",87672,98,43922,1411,43750,1408,8.0,...,(X),(X),21.8,(X),"Kirkland city, Washington",87672.0,98,Kirkland city,Washington,4.274350e+06
581,1600000US5343955,5343955.0,"Marysville city, Washington",67625,23,32175,1609,35450,1608,5.3,...,(X),(X),33.0,(X),"Marysville city, Washington",67625.0,23,Marysville city,Washington,4.274350e+06
582,1600000US5353545,5353545.0,"Pasco city, Washington",71934,3510,36814,2087,35120,1976,9.7,...,(X),(X),43.6,(X),"Pasco city, Washington",71934.0,3510,Pasco city,Washington,4.274350e+06
583,1600000US5357745,5357745.0,"Renton city, Washington",100952,34,50545,2116,50407,2113,6.5,...,(X),(X),22.2,(X),"Renton city, Washington",100952.0,34,Renton city,Washington,4.274350e+06
584,1600000US5363000,5363000.0,"Seattle city, Washington",704358,51,354197,5069,350161,5068,4.5,...,(X),(X),24.3,(X),"Seattle city, Washington",704358.0,51,Seattle city,Washington,4.274350e+06
585,1600000US5367000,5367000.0,"Spokane city, Washington",215964,43,105039,2778,110925,2781,6.8,...,(X),(X),31.1,(X),"Spokane city, Washington",215964.0,43,Spokane city,Washington,4.274350e+06
586,1600000US5367167,5367167.0,"Spokane Valley city, Washington",96337,31,48190,2005,48147,2010,6.2,...,(X),(X),37.3,(X),"Spokane Valley city, Washington",96337.0,31,Spokane Valley city,Washington,4.274350e+06
587,1600000US5370000,5370000.0,"Tacoma city, Washington",211304,88,106317,3623,104987,3626,7.7,...,(X),(X),28.3,(X),"Tacoma city, Washington",211304.0,88,Tacoma city,Washington,4.274350e+06
588,1600000US5374060,5374060.0,"Vancouver city, Washington",174836,97,83469,2044,91367,2038,7.0,...,(X),(X),25.7,(X),"Vancouver city, Washington",174836.0,97,Vancouver city,Washington,4.274350e+06
589,1600000US5380010,5380010.0,"Yakima city, Washington",93974,49,45743,1711,48231,1712,9.1,...,(X),(X),27.0,(X),"Yakima city, Washington",93974.0,49,Yakima city,Washington,4.274350e+06
590,1600000US5502375,5502375.0,"Appleton city, Wisconsin",75465,2015,37552,1702,37913,1592,7.0,...,(X),(X),21.5,(X),"Appleton city, Wisconsin",75465.0,2015,Appleton city,Wisconsin,4.815400e+06
591,1600000US5522300,5522300.0,"Eau Claire city, Wisconsin",67776,503,33255,963,34521,1101,4.7,...,(X),(X),21.8,(X),"Eau Claire city, Wisconsin",67776.0,503,Eau Claire city,Wisconsin,4.815400e+06
592,1600000US5531000,5531000.0,"Green Bay city, Wisconsin",105142,28,53154,1719,51988,1718,7.9,...,(X),(X),28.6,(X),"Green Bay city, Wisconsin",105142.0,28,Green Bay city,Wisconsin,4.815400e+06
593,1600000US5539225,5539225.0,"Kenosha city, Wisconsin",99634,25,48717,1141,50917,1140,5.6,...,(X),(X),35.2,(X),"Kenosha city, Wisconsin",99634.0,25,Kenosha city,Wisconsin,4.815400e+06
594,1600000US5548000,5548000.0,"Madison city, Wisconsin",252557,45,123627,2037,128930,2034,5.2,...,(X),(X),22.0,(X),"Madison city, Wisconsin",252557.0,45,Madison city,Wisconsin,4.815400e+06
595,1600000US5553000,5553000.0,"Milwaukee city, Wisconsin",595070,71,286000,2651,309070,2648,7.7,...,(X),(X),35.9,(X),"Milwaukee city, Wisconsin",595070.0,71,Milwaukee city,Wisconsin,4.815400e+06
596,1600000US5560500,5560500.0,"Oshkosh city, Wisconsin",66570,35,34509,1196,32061,1197,5.4,...,(X),(X),36.4,(X),"Oshkosh city, Wisconsin",66570.0,35,Oshkosh city,Wisconsin,4.815400e+06
597,1600000US5566000,5566000.0,"Racine city, Wisconsin",77572,27,38466,1297,39106,1292,5.9,...,(X),(X),26.6,(X),"Racine city, Wisconsin",77572.0,27,Racine city,Wisconsin,4.815400e+06
598,1600000US5584250,5584250.0,"Waukesha city, Wisconsin",72358,31,33576,1411,38782,1405,4.7,...,(X),(X),29.8,(X),"Waukesha city, Wisconsin",72358.0,31,Waukesha city,Wisconsin,4.815400e+06

In [13]:
print('hi')

hi

In [14]:
# I want to get rid of the margin of error columns 


MOE_cols = []

for col in dems_and_cider.columns:
    if 'Margin_of_Error' in col:
        MOE_cols.append(col)
        
for col_name in MOE_cols:
    del dems_and_cider[col_name]
    
dems_and_cider.head()

,Id,Id2,Geography,Total_Estimate_Total_population,Male_Estimate_Total_population,Female_Estimate_Total_population,Total_Estimate_AGE__Under_5_years,Male_Estimate_AGE__Under_5_years,Female_Estimate_AGE__Under_5_years,Total_Estimate_AGE__5_to_9_years,...,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Family_income_in_the_past_12_months,Households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Marriedcouple_families_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Nonfamily_households_Estimate_PERCENT_ALLOCATED__Nonfamily_income_in_the_past_12_months,Geo_Display_Label,Population,City,State,Shipments_16
0,1600000US0107000,107000.0,"Birmingham city, Alabama",213434,100602,112832,6.1,6.4,5.8,6.4,...,(X),(X),(X),(X),37.7,"Birmingham city, Alabama",213434.0,Birmingham city,Alabama,3.461018e+06
1,1600000US0121184,121184.0,"Dothan city, Alabama",67714,32089,35625,6.6,7.6,5.7,6.8,...,(X),(X),(X),(X),40.3,"Dothan city, Alabama",67714.0,Dothan city,Alabama,3.461018e+06
2,1600000US0135896,135896.0,"Hoover city, Alabama",84943,40646,44297,6.8,7.3,6.4,7.2,...,(X),(X),(X),(X),30.9,"Hoover city, Alabama",84943.0,Hoover city,Alabama,3.461018e+06
3,1600000US0137000,137000.0,"Huntsville city, Alabama",196225,96482,99743,6.7,7.2,6.1,6.7,...,(X),(X),(X),(X),27.2,"Huntsville city, Alabama",196225.0,Huntsville city,Alabama,3.461018e+06
4,1600000US0150000,150000.0,"Mobile city, Alabama",192895,92787,100108,5.4,5.5,5.3,5.7,...,(X),(X),(X),(X),38.7,"Mobile city, Alabama",192895.0,Mobile city,Alabama,3.461018e+06

In [15]:
# Success! But now I see that there are many columns with percent_allocated 
# These have mostly missing values, and I won't be using them in my analysis
# I'm going to get rid of them

PA_cols = []

for col in dems_and_cider.columns:
    if 'PERCENT_ALLOCATED' in col:
        PA_cols.append(col)

for col_name in PA_cols:
    del dems_and_cider[col_name]
    
dems_and_cider.head()

,Id,Id2,Geography,Total_Estimate_Total_population,Male_Estimate_Total_population,Female_Estimate_Total_population,Total_Estimate_AGE__Under_5_years,Male_Estimate_AGE__Under_5_years,Female_Estimate_AGE__Under_5_years,Total_Estimate_AGE__5_to_9_years,...,Nonfamily_households_Estimate_Median_income_dollars,Households_Estimate_Mean_income_dollars,Families_Estimate_Mean_income_dollars,Marriedcouple_families_Estimate_Mean_income_dollars,Nonfamily_households_Estimate_Mean_income_dollars,Geo_Display_Label,Population,City,State,Shipments_16
0,1600000US0107000,107000.0,"Birmingham city, Alabama",213434,100602,112832,6.1,6.4,5.8,6.4,...,23901.0,52792.0,63207.0,89860,39568,"Birmingham city, Alabama",213434.0,Birmingham city,Alabama,3.461018e+06
1,1600000US0121184,121184.0,"Dothan city, Alabama",67714,32089,35625,6.6,7.6,5.7,6.8,...,24706.0,63435.0,79402.0,N,36506,"Dothan city, Alabama",67714.0,Dothan city,Alabama,3.461018e+06
2,1600000US0135896,135896.0,"Hoover city, Alabama",84943,40646,44297,6.8,7.3,6.4,7.2,...,41666.0,112859.0,131116.0,N,64934,"Hoover city, Alabama",84943.0,Hoover city,Alabama,3.461018e+06
3,1600000US0137000,137000.0,"Huntsville city, Alabama",196225,96482,99743,6.7,7.2,6.1,6.7,...,33097.0,79025.0,98617.0,N,51154,"Huntsville city, Alabama",196225.0,Huntsville city,Alabama,3.461018e+06
4,1600000US0150000,150000.0,"Mobile city, Alabama",192895,92787,100108,5.4,5.5,5.3,5.7,...,26587.0,58113.0,71165.0,92976,40972,"Mobile city, Alabama",192895.0,Mobile city,Alabama,3.461018e+06

In [16]:
# I am only concerned with ages, not dependency ratios
# So I will delete this from the dataframe to tidy it 

DR_cols = []

for col in dems_and_cider.columns:
    if 'dependency_ratio' in col:
        DR_cols.append(col)
         
for col_name in DR_cols:
    del dems_and_cider[col_name]

In [17]:
# There are also columns with redundant information for age information
# I will delete these from the dataframe to tidy it as well

SAC_cols = []

for col in dems_and_cider.columns:
    if 'SELECTED_AGE_CATEGORIES' in col:
        SAC_cols.append(col)
        
for col_name in SAC_cols:
    del dems_and_cider[col_name]

In [53]:
# When beginning EDA, I notice that all of the entries in this dataframe are floats.
# Some are NaN, denoted by (X), N, ****, or other strings
# But others are numbers entered as strings
# First I want to change all of the numbers to floats

def to_float(num):
    try:
        num1 = float(num)
        return num1
    except ValueError:
        return num
    
for i, row in demographics.iterrows():
    dems_and_cider.loc[i, column] = to_float(dems_and_cider[column][i])

In [34]:
# Visualize the cluster hierarchy